/* @group fonts */

	@font-face {
	    font-family: 'Mardian Demo';
	    src: url('../assets/fonts/mardiandemo-webfont.eot');
	    src: url('../assets/fonts/mardiandemo-webfont.eot?#iefix') format('embedded-opentype'),
	         url('../assets/fonts/mardiandemo-webfont.woff') format('woff'),
	         url('../assets/fonts/mardiandemo-webfont.ttf') format('truetype'),
	         url('../assets/fonts/mardiandemo-webfont.svg#MardianDemoRegular') format('svg');
	    font-weight: normal;
	    font-style: normal;
	}

	@font-face {
	    font-family: 'Esteban';
	    src: url('../assets/fonts/esteban-regular-webfont.eot');
	    src: url('../assets/fonts/esteban-regular-webfont.eot?#iefix') format('embedded-opentype'),
	         url('../assets/fonts/esteban-regular-webfont.woff') format('woff'),
	         url('../assets/fonts/esteban-regular-webfont.ttf') format('truetype'),
	         url('../assets/fonts/esteban-regular-webfont.svg#EstebanRegular') format('svg');
	    font-weight: normal;
	    font-style: normal;
	}

/* @end */

/* @group general */

	.container {
		@include stretch;
		background: #000;
	}

	.frame {
		@include full-frame;
		left: 50%;
		margin-left: -512px;
		margin-top: -384px; 
		overflow: hidden;
		top: 50%;
	}

	.scene {
		@include transition(opacity 1s linear);
		@include full-frame;

		div {
			position: absolute;
		}
	}

	em {
		font-style: italic;
	}

	p {
		color: #fff;
		font-family: 'Esteban', serif;
		font-size: 36px;
		line-height: 40px;
		position: absolute;
		text-align: left;

		&.dropcap {
			&:first-letter {
				float: left;
				font-family: Mardian Demo, serif;
				font-size: 200px;
				font-style: normal;
				font-weight: normal;
				line-height: 100px;
				margin-right: 22px;
				padding-left: 5px;
			}
		};
	}

	.glow {
		@include animation(glow, 2s, 0s, infinite, linear, forwards);
		color: #fff;
		text-shadow: 0px -2px 5px #008CFF, 0px 2px 5px #008CFF;
		font-weight: bold;
		cursor: pointer;
	}

	.btn-previous {
		@include dimensions(81px , 60px);
		left: 20px;
		margin-top: 30px;
		position: absolute;
		z-index: 3;
		cursor: pointer;
	}

	.btn-next {
		@include dimensions(81px , 60px);
		right: 20px;
		margin-top: 30px;
		position: absolute;
		z-index: 3;
		cursor: pointer;
	}

/* @end */

/* @group general animations/interactions */

	/* @group page-turning */

		.hidden {
			opacity: 0;
			visibility: hidden;
		}

		.current {
			opacity: 1;
			visibility: visible;
		}

		.previous {
			opacity: 1;
			visibility: visible;
		}

	/* @end  */

	/* @group element showing/hiding */

		@include keyframes(in) {
			0% { opacity: 0; }
			100% { opacity: 1; }
		}

		@include keyframes(out) {
			0% { opacity: 1; }
			100% { opacity: 0; }
		}

	/* @end */

	.fly {
		@include animation(fly, 1.5s, .1s, $fill-mode:forwards);
	}

	@include keyframes(fly) {
		0% {
			@include animation-timing-function(cubic-bezier(0, 0, 0, 1));
		}

		50% {
			@include create-transform($rotate3d:(0,0,1, 20deg), $trans-x:(-200px), $trans-y:(-500px));
			@include animation-timing-function(cubic-bezier(0, 0, 1, 0));
		}

		100% {
			@include create-transform($rotate3d:(0,0,0, 40deg), $trans-x:(400px), $trans-y:(600px));
		}
	}

	@include keyframes(glow) {
		0% { text-shadow: 0px -2px 5px #0c902f, 0px 2px 5px #0c902f; }
		25% { text-shadow: 0px -2px 20px #ff0002, 0px 2px 20px #ff0002; }
		50% { text-shadow: 0px -2px 5px #0025da, 0px 2px 5px #0025da; }
		75% { text-shadow: 0px -2px 20px #ff9600, 0px 2px 20px #ff9600; }
		100% { text-shadow: 0px -2px 5px #0c902f, 0px 2px 5px #0c902f; }
	}

	.btn-previous { display: none; }

/* @end */