@import "compass/layout/stretching";
@import "compass/reset";
@import "compass/css3/transform";
@import "compass/css3/transition";
@import "animation";
@import "compass/css3/background-size";
@import "compass/css3/images";
@import "mixins";
@import "base";

/* @group sprites */

	$birds: sprite-map("normal/4beanstalk/birds/*.png");
	$birds_2x: sprite-map("retina/4beanstalk/birds/*.png");

	$sheds: sprite-map("normal/7giant/sheds/*.png");
	$sheds_2x: sprite-map("retina/7giant/sheds/*.png");

	$stars: sprite-map("normal/10end/stars/*.png");
	$stars_2x: sprite-map("retina/10end/stars/*.png");

/* @end */

/* @group media query for images, lazy loading */

	@media screen and (-webkit-max-device-pixel-ratio: 1.5) {

		.btn-previous { @include normal(general/left); &.pressed { @include normal(general/left-dark); } }
		.btn-next { @include normal(general/right); &.pressed { @include normal(general/right-dark); } }
		.container { background: url(../images/normal/general/pattern.jpg) 0 0; }

		.got {

			/* @group start-1 */
		
				&.title { @include normal(1start/title); }
				&.background { @include normal(1start/background); }
				&.cloud-1 { @include normal(1start/cloud1); }
				&.cloud-2 { @include normal(1start/cloud2, bottom left); }
				&.titlej { @include normal(1start/frontj); }
				&.right-cloud { @include normal(1start/right-cloud, top right); }
				&.left-cloud { @include normal(1start/left-cloud); }
	
			/* @end */
	
			/* @group exposition-2 */
	
				&.house-right { @include normal(2exposition/house_right); }
				&.house-left { @include normal(2exposition/house_left, bottom left); }
				&.cloud { @include normal(2exposition/cloud, bottom left); }
				&.sign { @include normal(2exposition/sign, bottom left); }
				&.grass-top { @include normal(2exposition/grass_top, bottom left); }
				&.grass-bottom { @include normal(2exposition/grass_bottom, bottom left); }
				&.cow { @include normal(2exposition/cow, bottom left); }
				&.cow-shadow { @include normal(2exposition/cow-shadow, bottom left); }
	
			/* @end */
	
			/* @group cowsale-3 */
	
				&.beans { @include normal(general/beans, bottom left); }
				&.beans2 { @include normal(general/beans2, bottom left); }
	
			/* @end */
	
			/* @group scroll */
	
				&.scroll { @include normal(multitext/scroll); }
				&.scroll-left-bottom { @include normal(multitext/left_shadow, bottom left); }
				&.scroll-left-top { @include normal(multitext/left_noshadow, bottom left); }
				&.scroll-right { @include normal(multitext/right_shadow, bottom left); }
	
			/* @end */
	
			/* @group beanstalk-5 */

				// &.bg-beanstalk { background: url(../images/normal/4beanstalk/background.jpeg) no-repeat 0 0; background-size: 1024px 3206px;}
				&.bg-1 { background: url(../images/normal/4beanstalk/bg_1.jpg) no-repeat 0 0; }
				&.bg-2 { background: url(../images/normal/4beanstalk/bg_2.jpg) no-repeat 0 0; }
				&.bg-3 { background: url(../images/normal/4beanstalk/bg_3.jpg) no-repeat 0 0; }
				&.bg-4 { background: url(../images/normal/4beanstalk/bg_4.jpg) no-repeat 0 0; }
				&.bg-5 { background: url(../images/normal/4beanstalk/bg_5.jpg) no-repeat 0 0; }
				&.bg-6 { background: url(../images/normal/4beanstalk/bg_6.jpg) no-repeat 0 0; }
				&.bg-7 { background: url(../images/normal/4beanstalk/bg_7.jpg) no-repeat 0 0; }
				&.castle { @include normal(4beanstalk/castle, bottom left); }
				&.upperclouds { @include normal(4beanstalk/cloudsupper, bottom left); }
				&.castleclouds { @include normal(4beanstalk/castleclouds, bottom left); }
				&.cloudfront { @include normal(4beanstalk/cloudfront, bottom left); }
				&.arrow-border { @include normal(4beanstalk/arrow-border, bottom left); }
				&.up-arrow { @include normal(4beanstalk/arrow, bottom left); }
				&.scrollup { @include normal(4beanstalk/scroll-up, bottom left); }
				&.birda { background: sprite($birds, a) no-repeat; }
				&.birdb { background: sprite($birds, b) no-repeat; }
				&.birdc { background: sprite($birds, c) no-repeat; }
				&.birdd { background: sprite($birds, d) no-repeat; }
	
			/* @end */
	
			/* @group theft-6 */
	
				&.coins { @include normal(general/coins, bottom left); }
				&.coins2 { @include normal(general/coins2, bottom left); }
				&.egg { @include normal(general/egg, bottom left); }
				&.goose { @include normal(general/goose, bottom left); }
				&.harp { @include normal(general/harp, bottom left); }
	
			/* @end */
	
			/* @group giant-7 */
	
				&.giant-bg { @include normal(7giant/background, bottom left); }
				&.fee { @include normal(7giant/fee, bottom left); }
				&.fi { @include normal(7giant/fi, bottom left); }
				&.fo { @include normal(7giant/fo, bottom left); }
				&.fum { @include normal(7giant/fum, bottom left); }
				&.clouds { @include normal(7giant/clouds, bottom left); }
				&.s1 { background: sprite($sheds, s1) no-repeat; }
				&.s2 { background: sprite($sheds, s2) no-repeat; }
				&.s4 { background: sprite($sheds, s4) no-repeat; }
				&.s5 { background: sprite($sheds, s5) no-repeat; }
				&.s6 { background: sprite($sheds, s6) no-repeat; }
				&.s7 { background: sprite($sheds, s7) no-repeat; }
	
			/* @end */

			/* @group recap-9 */

				&.recap-bg { background: url(../images/normal/9recap/background.jpg) no-repeat bottom left; background-size: 1024px 768px; }
				&.recap-egg { @include normal(9recap/egg, bottom left); }
				&.recap-goose { @include normal(9recap/goose, bottom left); }
				&.recap-coins { @include normal(9recap/coins, bottom left); }
				&.recap-harp { @include normal(9recap/harp, bottom left); }
				&.arm { @include normal(9recap/arm, bottom left); }


			/* @end */

			/* @group end-10 */
			
				&.end-mountain { @include normal(10end/mountain, bottom left); }
				&.end-bg { background: url(../images/normal/10end/background.jpg) no-repeat bottom left; background-size: 1024px 768px; }
				&.theend { @include normal(10end/theend, bottom left); }
				&.smallerstars { @include normal(10end/smallerstars, bottom left); }
				&.big-star { background: sprite($stars, big) no-repeat; }
				&.small-star { background: sprite($stars, small) no-repeat; }
				&.read-again {  @include normal(10end/read-again, bottom left); }
				&.read-again-hover {  @include normal(10end/read-again-hover, bottom left); }			

			/* @end */
		}
	}

	@media screen and (-webkit-min-device-pixel-ratio: 2) {

		.btn-previous { @include retina(general/left); &.pressed { @include retina(general/left-dark); } }
		.btn-next { @include retina(general/right); &.pressed { @include retina(general/right-dark); } }
		.container { background: url(../images/retina/general/pattern_2x.jpg) 0 0; background-size: 256px 256px; }

		.got {

			/* @group start-1 */

				&.title { @include retina(1start/title); }
				&.background { @include retina(1start/background); }
				&.cloud-1 { @include retina(1start/cloud1); }
				&.cloud-2 { @include retina(1start/cloud2, bottom left); }
				&.titlej { @include retina(1start/frontj); }
				&.right-cloud { @include retina(1start/right-cloud, top right); }
				&.left-cloud { @include retina(1start/left-cloud); }

			/* @end */

			/* @group exposition-2 */

				&.house-right { @include retina(2exposition/house_right); }
				&.house-left { @include retina(2exposition/house_left, bottom left); }
				&.cloud { @include retina(2exposition/cloud, bottom left); }
				&.sign { @include retina(2exposition/sign, bottom left); }
				&.grass-top { @include retina(2exposition/grass_top, bottom left); }
				&.grass-bottom{ @include retina(2exposition/grass_bottom, bottom left); }
				&.cow { @include retina(2exposition/cow, bottom left); }
				&.cow-shadow { @include retina(2exposition/cow-shadow, bottom left); }

			/* @end */

			/* @group cowsale-3 */

				&.beans { @include retina(general/beans, bottom left); }
				&.beans2 { @include retina(general/beans2, bottom left); }

			/* @end */

			/* @group scroll */

				&.scroll { @include retina(multitext/scroll); }
				&.scroll-left-bottom { @include retina(multitext/left_shadow, bottom left); }
				&.scroll-left-top { @include retina(multitext/left_noshadow, bottom left); }
				&.scroll-right { @include retina(multitext/right_shadow, bottom left); }

			/* @end */

			/* @group beanstalk-5 */

				// &.bg-beanstalk { background: url(../images/retina/4beanstalk/background_2x.jpeg) no-repeat 0 0; background-size: 1024px 3206px;}
				&.bg-1 { background: url(../images/retina/4beanstalk/bg_1_2x.jpg) no-repeat 0 0; background-size: 1024px 458px; }
				&.bg-2 { background: url(../images/retina/4beanstalk/bg_2_2x.jpg) no-repeat 0 0; background-size: 1024px 458px; }
				&.bg-3 { background: url(../images/retina/4beanstalk/bg_3_2x.jpg) no-repeat 0 0; background-size: 1024px 458px; }
				&.bg-4 { background: url(../images/retina/4beanstalk/bg_4_2x.jpg) no-repeat 0 0; background-size: 1024px 458px; }
				&.bg-5 { background: url(../images/retina/4beanstalk/bg_5_2x.jpg) no-repeat 0 0; background-size: 1024px 458px; }
				&.bg-6 { background: url(../images/retina/4beanstalk/bg_6_2x.jpg) no-repeat 0 0; background-size: 1024px 458px; }
				&.bg-7 { background: url(../images/retina/4beanstalk/bg_7_2x.jpg) no-repeat 0 0; background-size: 1024px 458px; }
				&.castle { @include retina(4beanstalk/castle); }
				&.up-arrow { @include retina(general/up); }
				&.upperclouds { @include retina(4beanstalk/cloudsupper, bottom left); }
				&.castleclouds { @include retina(4beanstalk/castleclouds, bottom left); }
				&.cloudfront { @include retina(4beanstalk/cloudfront, bottom left); }
				&.arrow-border { @include retina(4beanstalk/arrow-border, bottom left); }
				&.up-arrow { @include retina(4beanstalk/arrow, bottom left); }
				&.scrollup { @include retina(4beanstalk/scroll-up, bottom left); }
				
				&.birda { 
					background: sprite($birds_2x, a) no-repeat;
					@include background-size(18px 28px);
					background-position: sprite-position($birds, a);				
				 }
				
				&.birdb { 
					background: sprite($birds_2x, b) no-repeat;
					@include background-size(18px 28px);
					background-position: sprite-position($birds, b);
				 }
				
				&.birdc { 
					background: sprite($birds_2x, c) no-repeat;
					@include background-size(18px 28px);
					background-position: sprite-position($birds, c);	
				}
				
				&.birdd { 
					background: sprite($birds_2x, d) no-repeat;
					@include background-size(18px 28px);
					background-position: sprite-position($birds, d);
				 }

			/* @end */

			/* @group theft-6 */

				&.coins { @include retina(general/coins, bottom left); }
				&.coins { @include retina(general/coins, bottom left); }
				&.coins2 { @include retina(general/coins2, bottom left); }
				&.egg { @include retina(general/egg, bottom left); }
				&.goose { @include retina(general/goose, bottom left); }
				&.harp { @include retina(general/harp, bottom left); }

			/* @end */

			/* @group giant-7 */

				&.giant-bg { @include retina(7giant/background, bottom left); }
				&.fee { @include retina(7giant/fee, bottom left); }
				&.fi { @include retina(7giant/fi, bottom left); }
				&.fo { @include retina(7giant/fo, bottom left); }
				&.fum { @include retina(7giant/fum, bottom left); }
				&.clouds { @include retina(7giant/clouds, bottom left); }

				&.s1 { 
					background: sprite($sheds_2x, s1) no-repeat;
					@include background-size(87px, 224px);
					background-position: sprite-position($sheds, s1);				
				}
				
				&.s2 { 
					background: sprite($sheds_2x, s2) no-repeat;
					@include background-size(87px, 224px);
					background-position: sprite-position($sheds, s2);
				}
				
				&.s4 { 
					background: sprite($sheds_2x, s4) no-repeat;
					@include background-size(87px, 224px);
					background-position: sprite-position($sheds, s4);
				}			

				&.s5 { 
					background: sprite($sheds_2x, s5) no-repeat;
					@include background-size(87px, 224px);
					background-position: sprite-position($sheds, s5);
				}
				
				&.s6 { 
					background: sprite($sheds_2x, s6) no-repeat;
					@include background-size(87px, 224px);
					background-position: sprite-position($sheds, s6);	
				}
				
				&.s7 { 
					background: sprite($sheds_2x, s7) no-repeat;
					@include background-size(87px, 224px);
					background-position: sprite-position($sheds, s7);
				}

			/* @end */

			/* @group recap-9 */

				&.recap-bg { background: url(../images/retina/9recap/background_2x.jpg) no-repeat bottom left; background-size: 1024px 768px; }
				&.recap-egg { @include retina(9recap/egg, bottom left); }
				&.recap-goose { @include retina(9recap/goose, bottom left); }
				&.recap-coins { @include retina(9recap/coins, bottom left); }
				&.recap-harp { @include retina(9recap/harp, bottom left); }
				&.arm { @include retina(9recap/arm, bottom left); }

			/* @end */

			/* @group end-10 */
			
				&.end-mountain { @include retina(10end/mountain, bottom left); }
				&.end-bg { background: url(../images/retina/10end/background_2x.jpg) no-repeat bottom left; background-size: 1024px 768px; }
				&.theend { @include retina(10end/theend, bottom left); }
				&.smallerstars { @include retina(10end/smallerstars, bottom left); }
				&.big-star { 
					background: sprite($stars_2x, big_2x) no-repeat;
					@include background-size(68px, 103px);
					background-position: sprite-position($stars, big);	
				}
				
				&.small-star { 
					background: sprite($stars_2x, small_2x) no-repeat;
					@include background-size(68px, 103px);
					background-position: sprite-position($stars, small);
				}
				&.read-again {  @include retina(10end/read-again, bottom left); }
				&.read-again-hover {  @include retina(10end/read-again-hover, bottom left); }	
						
			/* @end */

		}

	}

/* @end  */

/* @group start-1 page */

	/* @group page-specific elements and animations */

		.start-1 {
			@include bluesky;
			
			&.current {
				&> .right-cloud {
					@include animation(right-cloud, 5s, 1s, $function:ease-in, $fill-mode:forwards);
				}
			
				&> .left-cloud {
					@include animation(left-cloud, 5s, 1s, $function:ease-in, $fill-mode:forwards);
				}

				&> .cloud-1 {
					@include animation(cloud-1, 50s, 1s, $function:linear, $fill-mode:forwards);
				}

				&> .cloud-2 {
					@include animation(cloud-2, 50s, 1s, $function:linear, $fill-mode:forwards);
				}
			}
		}

	/* @group end */

	/* @group keyframes */

		@include keyframes(right-cloud) {
			0% { @include translate3d(0, 0, 0); }
			100% { @include translate3d(200%, 0, 0); }
		}

		@include keyframes(left-cloud) {
			0% { @include translate3d(0, 0, 0); }
			100% { @include translate3d(-200%, 0, 0); }
		}

		@include keyframes(cloud-1) {
			0% { @include translate3d(0, 0, 0); }
			100% { @include translate3d(-400%, 0, 0); }
		}

		@include keyframes(cloud-2) {
			0% { @include translate3d(0, 0, 0); }
			100% { @include translate3d(300%, 0, 0); }
		}

	/* @end */

	/* @group elements */

		.title {
			@include dimensions(577.6px, 533px);
			left: 50%;
			margin-left: -280.5px;		
		}

		.background {
			@include dimensions(1024px, 462px);
			bottom: -2px;
		}

		.cloud-1 {
			@include dimensions(230px, 178px);
			bottom: 225px;
			right: 75px;
		}

		.cloud-2 {
			@include dimensions(295.2px, 120px);
			top: 170px;
			left: 120px;
		}

		.titlej {
			@include dimensions(273.45px, 268.95px);
			top: 148px;
			left: 240px;
		}

		.right-cloud {
			@include dimensions(890px, 460px);
			right: 0;
		}

		.left-cloud {
			@include dimensions(950px, 640px);
			top: 0px;
		}

	/* @end */

/* @end */

/* @group exposition-2 */

	/* @group page-specific elements and animations */

		.exposition-2 {
			@include bluesky(75%, 77%);

			.a {
				@include dimensions(400px, 400px);
				left: 65px;
				position: absolute;
				top: 110px;
			}

			.b {
				float: right;
				opacity: 0;
			}

			.c {
				opacity: 0;
				@include dimensions(500px, auto);
				left: 65px;
				position: absolute;
				top: 70px;

				&:first-letter {
					line-height: 120px;
					margin-bottom: 20px;
					margin-right: 40px;
				};
			}

			/* @group timing variables */

				$first_text_go: 0.1s;
				$house_fall_go: $first_text_go + 0.5;
				$house_fall_speed: 1.5s;
				$second_text_go: $house_fall_go + 1.5;
				$sign_go: $house_fall_go + 2;
				$cow_go: $sign_go;
				$cowshadow_go: $cow_go+1;

			/* @end */

			&.current {
				&> .cloud {
						@include animation(cloud, 60s, 0.1s, $function:linear, $fill-mode:forwards);
					}
			}
	
			&.next {
				&> .a > .b {
					@include animation(in, 1s, $first_text_go, $function:linear, $fill-mode:forwards);
				}
				
				&> .a {
					@include animation(out, 1s, $second_text_go, $function:linear, $fill-mode:forwards);
				}

				&> .c {
					@include animation(in, 1s, $second_text_go, $function:linear, $fill-mode:forwards);
				}

				&> .house-right {
					@include animation(fall_right, $house_fall_speed, $house_fall_go, $function:ease-in, $fill-mode:forwards);
				}

				&> .house-left {
					@include animation(fall_left, $house_fall_speed, $house_fall_go, $function:ease-in, $fill-mode:forwards);
				}

				&> .sign {
					@include animation(sign, .3s, $sign_go, $function:ease-in, $fill-mode:forwards);
				}

				&> .cow {
					@include animation(cow, 1s, $cow_go, $function:cubic-bezier(.77, .02, 1, 1), $fill-mode:forwards);
				}

				&> .cow-shadow {
					@include animation(in, 0.2s, $cowshadow_go, $fill-mode:forwards);
				}
			}
		}

	/* @end */

	/* @group keyframes */

		@include keyframes(fall_right) {
			0% {
				opacity: 1;
				@include rotate3d(0, 0, 0, 0deg);
			}

			60% {
				@include rotate3d(100, -25, 0, 150deg);
				opacity: 1;
			}

			100% {
				@include rotate3d(100, -25, 0, 150deg);
				opacity: 0;
			}
		}

		@include keyframes(fall_left) {
			0% {
				opacity: 1;
				@include rotate3d(0, 0, 0, 0deg);
			}

			60% {
				@include rotate3d(100, 25, 0, 150deg);
				opacity: 1;
			}

			100% {
				@include rotate3d(100, 25, 0, 150deg);
				opacity: 0;
			}
		}

		@include keyframes(sign) {
			100% {
				@include rotate(360deg);
			}
		}

		@include keyframes(cloud) {
			100% {
				@include translate3d(-300%, 0, 0);
			}
		}

		@include keyframes(cow) {
			100% {
				@include translate3d(0, 690px, 0);
			}
		}

	/* @end */

	/* @group elements */

		.cow {
			@include dimensions(114px, 108px);
			bottom: 767px;
			right: 350px;
		}

		.cow-shadow {
			opacity: 0;
			@include dimensions(173px, 101px);
			bottom: 60px;
			right: 378px;
		}

		.house-right {
			@include transform-origin(50%, 95%);
			bottom: 111px;
			height: 419px;
			right: 85px;
			width: 160px;
		 }

		.house-left {
			@include transform-origin(50%, 100%);
			bottom: 173px;
			height: 458.08px;
			right: 195px;
			width: 415.53px;
		 }

		.cloud {
			height: 288px;
			right: -100px;
			top: 20px;
			width: 396px;
		 }

		.sign {
			@include transform(rotate(240deg));
			@include transform-origin(90%, 93%);
			bottom: 177px;
			height: 141px;
			left: 406px;
			width: 173px;
		}

		.grass-top {
			bottom: 0;
			height: 485px;
			width: 100%;
		}

		.grass-bottom {
			bottom: 0;
			height: 188px;
			width: 100%;
		}

	/* @end */

/* @end */

/* @group cowsale-3 */

	/* @group page-specific elements and animations */

		.cowsale-3 {
			@include scrollbg;

			&.current {
				&> .scroll-left-top {
					@include animation(moveleft, 1.5s, 1s, $function:ease-out, $fill-mode:forwards);
				}

				&> .scroll-left-bottom {
					@include animation(moveleft, 1.5s, 1s, $function:ease-out, $fill-mode:forwards);
				}

				&> .scroll-right {
					@include animation(moveleftthenright, 3s, 1s, $function:ease-out, $fill-mode:forwards);
				}

				&> .scroll {
					@include animation(expand, 1.5s, 2.5s, $function:ease-out, $fill-mode:forwards);
				}
			}
		}

	/* @end */

	/* @group keyframes */

		@include keyframes(moveleftthenright) {
			0% {
				@include translate3d( 0px, 0px, 0px );
			}

			50% {
				@include translate3d( -310px, 0px, 0px );
			}

			100% {
				@include translate3d( 315px, 0px, 0px );
			}
		}

		@include keyframes(moveleft) {
			0% {
				@include translate3d( 0px, 0px, 0px );
			}

			100% {
				@include translate3d( -310px, 0px, 0px );
			}
		}

		@include keyframes(expand) {
			0% {
				width: 40px;
			}

			100% {
				width: 640px;
			}
		}

	/* @group end */

	/* @group elements */

		.beans {
			@include dimensions(298px, 181px);
			bottom: -180px;
			left: 400px;
		}

		.beans2 {
			@include dimensions(74px, 52px);
			bottom: -180px;
			left: 400px;
		}

		.scroll.in {
			@include background-size(640px, 502px);
			@include dimensions(0px, 502px);
			top: 143px;
			overflow: hidden;
			margin-left: 191px;
		}

		.scroll-left-bottom {
			@include dimensions(136px, 553px);
			left: 418px;
			top: 136px;
		}

		.scroll-left-top {
			@extend .scroll-left-bottom;
			@include dimensions(97px, 553px);
		}

		.scroll-right {
			@include dimensions(139px, 553px);
			left: 459px;
			top: 127px;
		}

		.text {
			width: 520px;
			color: #000;
			text-shadow: none;
			font-size: 20px;
			margin: 80px 30px 20px 70px;
			line-height: 30px;
		}

	/* @end */

/* @end */

/* @group nextmorning-4 */

	.nextmorning-4 {
		@include scrollbg;
	}

	.scroll-out {
		@extend .scroll;
		width: 640px;
		height: 502px;
		top: 143px;
		overflow: hidden;
		margin-left: 191px;
	}

	.scroll-left-bottom-out {
		@extend .scroll-left-bottom;
		left: 108px;
	}

	.scroll-right-out {
		@extend .scroll-right;
		left: 774px;
		top: 127px;
	}

	.text4 {
		@extend .text;
		width: 300px;
		margin-left: 200px;
	}

	.intrigue {
		@extend .text;
		width: 500px;
		margin: 280px 50px 0 170px;
		font-size: 30px;
	}

/* @end */

/* @group beanstalk-5 */

	// Note: The css for this scene is formatted differently due to the scroll interaction that occurs.

	.beanstalk-5 {

		/* @group animations */

			&.current > .wrapper {

					.go {				
						/* @group lower clouds */
	
							&.top {
								@include animation(left, 10s, $iterations:infinite, $function:linear, $fill-mode:forwards);
							}
	
							&.top2 {
								@include animation(right, 14s, $iterations:infinite, $function:linear, $fill-mode:forwards);
							}
	
							&.middle {
								@include animation(right, 12s, $iterations:infinite, $function:linear, $fill-mode:forwards);
							}
	
							&.bottom {
								@include animation(left, 16s, $iterations:infinite, $function:linear, $fill-mode:forwards);
							}

							&.up-arrow {
								@include animation(uparrow, 2s, .1s, $iterations:infinite, $function:linear, $fill-mode:forwards);
							}
							
	
						/* @end */
					
						/* @group top */
	
							&.castleclouds {
								@include animation(bouncesmall, 3s, .1s, $iterations:infinite, $function:ease-in-out, $fill-mode:forwards);
							}
	
							&.birda {
								@include animation(fly1, 3s, .1s, $iterations: infinite, $function:linear, $fill-mode:forwards);
							}
	
							&.birdb {
								@include animation(fly2, 3s, .1s, $iterations: infinite, $function:linear, $fill-mode:forwards);
							}
	
							&.birdc {
								@include animation(fly3, 3s, .1s, $iterations: infinite, $function:linear, $fill-mode:forwards);
							}
	
							&.birdd {
								@include animation(fly4, 4s, .1s, $iterations: infinite, $function:linear, $fill-mode:forwards);
							}
	
						/* @end */
					}

				/* @group text */

					.on {
						@include animation(in, .2s, 0s, $function:linear, $fill-mode:forwards);
					}

					.off {
						@include animation(out, .2s, 0s, $function:linear, $fill-mode:forwards);
					}

				/* @end */

				/* @group z-indexes */

				.castle {
					z-index: 1;
				}

				.upperclouds, .birda, .birdb {
					z-index: 2;
				} 

				/* @end */
			}	
			
		/* @end */
	
	}

	/* @group keyframes */

		@include keyframes(left) {
			0% { @include translate3d(0, 0, 0); }
			50% { @include translate3d(-150%, 0, 0); }
			100% { @include translate3d(0, 0, 0); }
		}

		@include keyframes(right) {
			0% { @include translate3d(0, 0, 0); }
			50% { @include translate3d(150%, 0, 0); }
			100% { @include translate3d(0, 0, 0); }
		}

		@include keyframes(fly1) {
			0% {
				@include rotate3d(0, 1, 0, 90deg);
				right: 115px;
			}

			25% {
				@include rotate3d(0, 1, 0, 0deg);
				right: 162.5px;
			}

			49% {
				z-index: 2;
			}

			50% {
				@include rotate3d(0, 1, 0, -90deg);
				right: 210px;	
				z-index: 0;
			}

			75% {
				@include rotate3d(0, 1, 0, -180deg);
				right: 162.5px;
			}

			99% {
				z-index: 0;
			}

			100% {
				@include rotate3d(0, 1, 0, -270deg);
				right: 115px;	
				z-index: 2;
			}
		}

		@include keyframes(fly2) {
			0% {
				@include rotate3d(0, 1, 0, 0deg);
				right: 170px;
			}

			24% {
				z-index: 2;
			}

			25% {
				@include rotate3d(0, 1, 0, -90deg);
				right: 210px;
				z-index: 0;
			}

			50% {
				@include rotate3d(0, 1, 0, -180deg);
				right: 170px;	
			}

			74% {
				z-index: 0;
			}

			75% {
				@include rotate3d(0, 1, 0, -270deg);
				right: 130px;
				z-index: 2;	
			}

			100% {
				@include rotate3d(0, 1, 0, -360deg);
				right: 170px;	
			}
		}

		@include keyframes(fly3) {
			0% {
				@include rotate3d(0, 1, 0, -90deg);
				right: 230px;
				z-index: 0
			}

			25% {
				@include rotate3d(0, 1, 0, -180deg);
				right: 170px;
			}

			49% {
				z-index: 0;
			}

			50% {
				@include rotate3d(0, 1, 0, -270deg);
				right: 110px;
				z-index: 2;
			}

			75% {
				@include rotate3d(0, 1, 0, -360deg);
				right: 170px;
			}

			99% {
				z-index: 2;
			}

			100% {
				@include rotate3d(0, 1, 0, -450deg);
				right: 230px;
				z-index: 0;
			}
		}

		@include keyframes(fly4) {
			0% {
				@include rotate3d(0, 1, 0, -90deg);
				right: 230px;
				z-index: 0;
			}

			25% {
				@include rotate3d(0, 1, 0, -180deg);
				right: 170px;
				z-index: 0;
			}

			50% {
				@include rotate3d(0, 1, 0, -270deg);
				right: 110px;	
			}

			75% {
				@include rotate3d(0, 1, 0, -360deg);
				right: 170px;
				z-index: 2;	
			}

			99% {
				z-index: 2;
			}

			100% {
				@include rotate3d(0, 1, 0, -450deg);
				right: 230px;
				z-index: 0;
			}
		}

		@include keyframes(bouncesmall) {
			0% { @include translate3d(0, 0, 0); }
			50% { @include translate3d(0, 10px, 0); }
			100% { @include translate3d(0, 0, 0); }
		}

		@include keyframes(uparrow) {
			0% { @include translate3d(0, 0, 0); }
			100% { @include translate3d(0, -220px, 0); }
		}

	/* @end */

	/* @group page-specific elements */

		.bg-beanstalk {
			@include dimensions(1024px, 458px);
			display: block;
		}

		.bg-1 {
			bottom: 0;
		}

		.bg-2 {
			bottom: 458px;
		}

		.bg-3 {
			bottom: 916px;
		}

		.bg-4 {
			bottom: 1374px;
		}

		.bg-5 {
			bottom: 1832px;
		}

		.bg-6 {
			bottom: 2290px;
		}

		.bg-7 {
			bottom: 2748px;
		}

		.scroll-listener {
			@include dimensions(1024px, 768px);
			overflow-x: hidden;
			overflow-y: scroll;
			z-index: 1;
			opacity: 0;
		}

		.scroll-dummy {
			@include dimensions(1024px, 3206px);
		}

		.wrapper {
			@include dimensions(1024px, 3206px);
			@include single-transition(all, 0.2s, linear);
			-webkit-transform: translate3d(0,-2438px,0);

			/* @group text */

				.a {
					bottom: 400px;
					text-align: right;
					right: 30px;
					@include dimensions(500px, auto);
					opacity: 1;
				}

				.b {
					bottom: 1000px;
					right: 40px;
					color: rgb(34, 133, 41);
					opacity: 0;
				}

				.c {
					bottom: 1600px;
					left: 300px;
					color: rgb(34, 133, 41);
					opacity: 0;
				}

				.d {
					bottom: 2092px;
					right: 355px;
					@include rotateZ(22deg);
					color: rgb(34, 133, 41);
					opacity: 0;
				}

				.e {
					top: 24px;
					left: 136px;
					width: 400px;
					opacity: 0;
				}

			/* @end */
		}

	/* @end */

	/* @group elements */

		.scrollup {
			bottom: 710px;
			left: 422px;
			@include dimensions(133px, 40px);
		}

		.up-arrow {
			@include dimensions(96px, 108px);
			bottom: -108px;
		}

		.arrow-border {
			@include dimensions(109px, 109px);
		}

		.arrow-wrapper{
			@include dimensions(109px, 109px);
			top: 2438px;
			left: 319px;
			overflow: hidden;
		}

		.btn-next-temp {
			@extend .btn-next;
			display: none;
		}

		.btn-previous-temp {
			@extend .btn-previous;
			display: none;
		}
	
		::-webkit-scrollbar {
			display: none;
		}

		.castle {
			@include dimensions(335px, 558px);
			top: 58px;
			right: -40px;
			z-index: 0;
		}

		.upperclouds {
			@include dimensions(523px, 517px);
			top: 91px;
			right: -108px;
			z-index: 0;
		}
		
		.birda {
			@include dimensions(12px, 6px);
			top: 120px;
			right: 100px;
			z-index: 0;
		}

		.birdb {
			@include dimensions(11px, 6px);
			top: 120px;
			right: 180px;
			z-index: 0;
		}

		.birdc {
			@include dimensions(10px, 5px);
			top: 120px;
			right: 200px;
			z-index: 0;
		}

		.birdd{
			@include dimensions(18px, 6px);
			top: 100px;
			right: 200px;
			z-index: 0;
		}
 
		.castleclouds {
			@include dimensions(184px, 108px);
			top: 58px;
			right: 90px;
		}

		.right {
			right: -150%;
		}

		.left {
			left: -150%;
		}

		.cloudfront {
			@include dimensions(1689px, 987px);

			&.top {
				bottom: 1500px;
			}

			&.top2 {
				bottom: 1500px;
			}

			&.middle {
				bottom: 1000px;
			}

			&.bottom {
				bottom: 800px;
			}
		}

	/* @end */

/* @end */

/* @group theft-6 */

	.theft-6 {

	/* @group page-specific elements and animations */

		@extend .cowsale-3;

		p {
			font-size: 21px;
			&:first-letter {
				margin-bottom: 50px;
			}
		}
	}

	.coins {
		@include dimensions(250px, 239px);
		bottom: -240px;
		left: 400px;
	}

	.coins2 {
		bottom: -150px;
		left: 375px;
		@include dimensions(60px, 52px);
	}

	.goose {
		@include dimensions(151px, 324px);
		bottom: -326px;
		left: 400px;
	}

	.egg {
		@include dimensions(114px, 154px);
		bottom: -155px;
		left: 400px;
	}

	.harp {
		@include dimensions(165px, 342px);
		bottom: -345px;
		left: 400px;
	}

/* @end */

/* @group giant-7 */

	/* @group page-specific elements and animations */

		.giant-7 {

			$fee: 1s;
			$fi: 3s;
			$fo: 5s;
			$fum: 7s;
			$s1: $fee + 1s;
			$s2: $fi + 1s;
			$s4: $fo + 0.9s;
			$s6: $fo + 1s;
			$s5: $fum + 1.05s;
			$s7: $fum + 0.9s;

			&.current {
				.fee {
					@include animation(wordfall-left, 3s, $fee, $function:cubic-bezier(0.935, 0, 1.000, 1.000), $fill-mode:forwards);
				}

				.fi {
					@include animation(wordfall-right, 3s, $fi, $function:ease-out, $fill-mode:forwards);
				}

				.fo {
					@include animation(wordfall-left, 3s, $fo, $function:ease-out, $fill-mode:forwards);
				}

				.fum {
					@include animation(wordfall-right, 3s, $fum, $function:ease-out, $fill-mode:forwards);
				}

				.s1 {
					@include animation(shed-left, 1s, $s1, $function:linear, $fill-mode:forwards);
				}

				.s2 {
					@include animation(shed-right, 1s, $s2, $function:linear, $fill-mode:forwards);
				}

				.s4 {
					@include animation(shed-left, 1s, $s4, $function:linear, $fill-mode:forwards);
				}

				.s5 {
					@include animation(shed-left, 1s, $s5, $function:linear, $fill-mode:forwards);
				}

				.s6 {
					@include animation(shed-left, 1s, $s6, $function:linear, $fill-mode:forwards);
				}

				.s7 {
					@include animation(shed-right, 1s, $s7, $function:linear, $fill-mode:forwards);
				}
			}
		}

	/* @end */

	/* @group keyframes */

		@include keyframes(wordfall-left) {
			0% {
				@include create-transform($rotate3d:(0,0,0, -30deg), $trans-x:(0px), $trans-y:(0px));
				@include animation-timing-function( cubic-bezier(0.935, 0, 1.000, 1.000));
				opacity: 1;
			}

			//hit corner

			30% {
				@include create-transform($rotate3d:(0,0,0, -30deg),$trans-x:(-260px), $trans-y:(490px));
			}

			//land 1

			33% {
				@include create-transform($rotate3d:(0,0,0, 0deg),$trans-x:(-20px), $trans-y:(490px));
				@include animation-timing-function(ease-out);
			}

			//apex 1

			45% {
				@include create-transform($rotate3d:(0,0,0, -15deg),$trans-x:(-138px), $trans-y:(490px));
				@include animation-timing-function(ease-in);
			}

			//land 2

			60% {
				@include create-transform($rotate3d:(0,0,0, 0deg),$trans-x:(-20px), $trans-y:(490px));
				@include animation-timing-function(ease-out);
			}

			//apex 2

			70% {
				@include create-transform($rotate3d:(0,0,0, -4deg),$trans-x:(-50px), $trans-y:(490px));
				@include animation-timing-function(ease-in);
			}

			//land 3

			80% {
				@include create-transform($rotate3d:(0,0,0, 0deg),$trans-x:(-20px), $trans-y:(490px));
			}

			90% {
				@include create-transform($rotate3d:(0,0,0, 0deg),$trans-x:(-20px), $trans-y:(490px));
				opacity: 1;
			}

			100% {
				opacity: 0;
				@include create-transform($rotate3d:(0,0,0, 0deg),$trans-x:(-20px), $trans-y:(800px));
			}
		}

		@include keyframes(wordfall-right) {
			0% {
				@include create-transform($rotate3d:(0,0,0, 30deg), $trans-x:(0px), $trans-y:(0px));
				@include animation-timing-function( cubic-bezier(0.935, 0, 1.000, 1.000));
				opacity: 1;
			}

			//hit corner

			30% {
				@include create-transform($rotate3d:(0,0,0, 30deg),$trans-x:(260px), $trans-y:(490px));
			}

			//land 1

			33% {
				@include create-transform($rotate3d:(0,0,0, 0deg),$trans-x:(20px), $trans-y:(490px));
				@include animation-timing-function(ease-out);
			}

			//apex 1

			45% {
				@include create-transform($rotate3d:(0,0,0, 15deg),$trans-x:(138px), $trans-y:(490px));
				@include animation-timing-function(ease-in);
			}

			//land 2

			60% {
				@include create-transform($rotate3d:(0,0,0, 0deg),$trans-x:(20px), $trans-y:(490px));
				@include animation-timing-function(ease-out);
			}

			//apex 2

			70% {
				@include create-transform($rotate3d:(0,0,0, 4deg),$trans-x:(50px), $trans-y:(490px));
				@include animation-timing-function(ease-in);
			}

			//land 3

			80% {
				@include create-transform($rotate3d:(0,0,0, 0deg),$trans-x:(20px), $trans-y:(490px));
			}

			90% {
				@include create-transform($rotate3d:(0,0,0, 0deg),$trans-x:(20px), $trans-y:(490px));
				opacity: 1;
			}

			100% {
				opacity: 0;
				@include create-transform($rotate3d:(0,0,0, 0deg),$trans-x:(20px), $trans-y:(800px));
			}
		}


		@include keyframes(shed-left) {
			0% {
				z-index: 0;
				@include create-transform($rotate3d:(0,0,0, 0deg),$trans-x:(0px), $trans-y:(0px));
			}

			100% {
				@include create-transform($rotate3d:(0,0,1, -180deg),$trans-x:(50px), $trans-y:(-400px));

				// @include translate(-20px, 400px, 0);
			}
		}

		@include keyframes(shed-right) {
			0% {
				z-index: 0;
				@include create-transform($rotate3d:(0,0,0, 0deg),$trans-x:(0px), $trans-y:(0px));
			}

			100% {

				@include create-transform($rotate3d:(0,0,1, 180deg),$trans-x:(-50px), $trans-y:(-400px));

				// @include translate3d(20px, 400px, 0);
			}
		}

	/* @end */

	/* @group elements */

		.giant-bg {
			@include dimensions(1024px, 768px);
		}

		.fee {
			@include dimensions(570px, 259px);
			@include rotate3d(0,0,0, -30deg);
			left: 215px;
			top: -240px;
		}

		.fi {
			@include dimensions(421px, 240px);
			@include transform-origin(100%, 100%);
			@include rotate3d(0,0,0, 30deg);
			left: 280px;
			top: -229px;
		}

		.fo {
			@include dimensions(100%, 100%);
			@include dimensions(421px, 240px);
			left: 280px;
			top: -233px;
		}

		.fum {
			@include dimensions(713px, 241px);
			left: 165px;
			top: -230px;
		}

		.clouds{
			@include dimensions(100%, 100%);
		}

		.landleft {
			@include transform-origin(0%, 100%);
		}

		.landright {
			@include transform-origin(100%, 100%);
		}

		//.s1 for fee

		.s1 {
			z-index: -1;	
			@include dimensions(31px, 18px);
			left: 249px;
			top: 456px;
		}

		//.s2 for fi

		.s2 {
			z-index: -1;	
			@include dimensions(20px, 13px);
			left: 649px;
			top: 466px;			
		}

		//.4 for fo

		.s4 {
			z-index: -1;	
			@include dimensions(8px, 17px);
			left: 336px;
			top: 466px;		
		}

		//.s5 for fum

		.s5 {
			z-index: -1;	
			@include dimensions(76px, 46px);
			left: 235px;
			top: 440px;			
		}

		//.s6 for fo

		.s6 {
			z-index: -1;	
			@include dimensions(28px, 35px);
			left: 336px;
			top: 399px;			
		}

		//.s7 for fum

		.s7 {
			z-index: -1;	
			@include dimensions(87px, 78px);
			left: 789px;
			top: 399px;			
		}

	/* @end */

/* @end */

/* @group conversation1-8 */

	.conversation1-8 {
		@extend .cowsale-3;
	}

/* @end */

/* @group conversation2-8 */

	.conversation2-9 {
		@include scrollbg;

		p {
			font-size: 30px;
			line-height: 40px;
		}
	}

/* @end */

/* @group recap-9 */

	.recap-9 {

		$items-delay: 3.5s;

		background-color: #212350;

		&.current {
			&> .a {
				top: 80px;
				left: 30px;
				width: 500px;

				&:first-letter {
					margin-bottom: 50px;
					margin-right: 30px;
				}
			}

			.recap-harp {
				@include animation(harp, 2s, $items-delay, $function:ease-in, $fill-mode:forwards);
			}

			.recap-goose{
				@include animation(goose, 2s, $items-delay, $function:ease-in, $fill-mode:forwards);
			}

			.recap-egg {
				@include animation(egg, 2s, $items-delay, $function:ease-in, $fill-mode:forwards);
			}

			.recap-coins {
				@include animation(coins, 2s, $items-delay, $function:ease-in, $fill-mode:forwards);
			}

			.arm {
				@include animation(arm, 4s, 1s, $function:ease-in-out, $fill-mode:forwards);
			}
		}

		.recap-bg {
			@include dimensions(1024px, 768px);
		}

		.recap-harp {
			visibility: hidden;
			@include dimensions(235px, 345px);
			left: 200px;
			top: 390px;
		}

		.recap-goose {
			visibility: hidden;
			@include dimensions(237px, 370px);
			top: 340px;
			left: 220px;
		}

		.recap-egg {
			visibility: hidden;
			@include dimensions(80px, 97px);
			left: 360px;
			top: 540px;
		}

		.recap-coins {
			visibility: hidden;
			@include dimensions(212px, 221px);
			top: 443px;
			left: 280px;
		}

		.arm {
			left: 220px;
			top: -681px;
			@include dimensions(332px, 677px);
		}
	}

	/* @group keyframes */

		@include keyframes(goose) {
			0% {
				opacity: 0;
				visibility: visible;
				@include translate3d(0,0,0);
			}

			10% {
				opacity: 1;
			}

			100% {
				visibility: visible;
				@include translate3d(-10px,0,0);
			}
		}

		@include keyframes(egg) {
			0% {
				visibility: visible;
				@include translate3d(0,0,0);
			}

			100% {
				visibility: visible;
				@include translate3d(30px,0,0);
			}
		}

		@include keyframes(harp) {
			0% {
				opacity: 0;
				visibility: visible;
				@include translate3d(0,0,0);
			}

			20% {
				opacity: 1;
			}

			100% {
				visibility: visible;
				@include translate3d(-80px,0,0);
			}
		}

		@include keyframes(coins) {
			0% {
				visiility: visible;
				@include translate3d(0,0,0);
			}

			100% {
				visibility: visible;
				@include translate3d(60px,0,0);
			}
		}

		@include keyframes(arm) {
			0% {
				@include translate3d(0,0,0);
			}

			60% {
				@include translate3d(0,681px,0);
			}

			62% {
				@include translate3d(0,681px,0);
			}

			100% {
				@include translate3d(0,0,0);
			}
		}

	/* @end */

/* @end */

/* @group end-10 */

	/* @group page-specific elements and animations */

		.end-10 {

			.a { top: 50px; left: 300px;}
			.b { top: 200px; left: 700px;}
			.c { top: 500px; left: 100px;}
			.d { top: 300px; left: 900px;}
			.e { top: 100px; left: 50px;}
			.f { top: 43px; left: 850px;}

			&.current {

				.a, .d {
					@include animation(star, 3s, 0.5s, $iterations:infinite, $function:linear, $fill-mode:forwards);
				}

				.b, .e {
					@include animation(star, 2s, 1.3s, $iterations:infinite, $function:linear, $fill-mode:forwards);
				}

				.c, .f {
					@include animation(star, 3s, 0s, $iterations:infinite, $function:linear, $fill-mode:forwards);
				}

				.big-star, .smallerstars {
					@include animation(star, 5s, 0s, $iterations:infinite, $function:linear, $fill-mode:forwards);
				}

				// .theend, .read-again {
				// 	// @include animation(theendup, 5s, 4s, $function:ease-in-out, $fill-mode:forwards);
				// }
			}
		}

	/* @end */

	/* @group keyframes */

		@include keyframes(star) {
			0% { opacity: 1; }
			50% { opacity: 0.2; }
			100% { opacity: 1; }
		}

		@include keyframes(theendup) {
			0% { @include translate3d(0,0,0); }
			100% { @include translate3d(0, -600px ,0); }
		}

	/* @end */

	/* @group elements */

		.end-10 {
			background-color: #212350;
		}

		.end-mountain {
			@include dimensions(1022px, 212px);
			bottom: 0;
			right: 0;
		}

		.end-bg { 
			@include dimensions(1024px, 768px); 
		}

		.theend {
			@include dimensions(471px, 978px);
			left: 310px;
			top: -125px;
		}

		.smallerstars { 
			@include dimensions(977px, 346px);
			top: -17px;
			left: 61px;
		}

		.big-star { 
			@include dimensions(68px, 67px);
			top: 200px;
			left: 200px;
		}

		.small-star { 
			@include dimensions(34px, 34px); 
		}

		.read-again { 
			-webkit-transition-property: -webkit-transform, background;
			-moz-transition-property: -moz-transform, background;
			-o-transition-property: -o-transform, background;
			-ms-transition-property: -ms-transform, background;
			transition-property: transform, background;
			-webkit-transition-duration: .2s;
			-moz-transition-duration: .2s;
			-o-transition-duration: .2s;
			-ms-transition-duration: .2s;
			transition-duration: .2s;
			@include dimensions(186px, 118px);
			display: block;
			color: white;
			top: 848px;
			left: 420px;
			cursor: pointer;
		}

		.read-again-hover {
			@include transform-origin(50%, 0%);
			@include rotate3d(1,0,0,25deg);
		}

	/* @end */

/* @end  */
 