/* line 17, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* @group fonts */
@font-face {
  font-family: 'Mardian Demo';
  src: url("../assets/fonts/mardiandemo-webfont.eot");
  src: url("../assets/fonts/mardiandemo-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/mardiandemo-webfont.woff") format("woff"), url("../assets/fonts/mardiandemo-webfont.ttf") format("truetype"), url("../assets/fonts/mardiandemo-webfont.svg#MardianDemoRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Esteban';
  src: url("../assets/fonts/esteban-regular-webfont.eot");
  src: url("../assets/fonts/esteban-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/esteban-regular-webfont.woff") format("woff"), url("../assets/fonts/esteban-regular-webfont.ttf") format("truetype"), url("../assets/fonts/esteban-regular-webfont.svg#EstebanRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* @end */
/* @group general */
/* line 38, ../sass/screen.scss */
.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
}

/* line 43, ../sass/screen.scss */
.frame {
  height: 5000px;
  width: 1024px;
  height: 768px;
  position: absolute;
  left: 50%;
  margin-left: -512px;
  margin-top: -384px;
  overflow: hidden;
  top: 50%;
}

/* line 52, ../sass/screen.scss */
.scene {
  background-color: gray;
  color: blue;
  font-size: 650px;
  text-align: center;
  -webkit-transition: opacity 1s linear;
  -moz-transition: opacity 1s linear;
  -ms-transition: opacity 1s linear;
  -o-transition: opacity 1s linear;
  transition: opacity 1s linear;
  height: 5000px;
  width: 1024px;
  height: 768px;
  position: absolute;
}
/* line 63, ../sass/screen.scss */
.scene div {
  position: absolute;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}

/* line 69, ../sass/screen.scss */
p {
  color: #fff;
  font-family: 'Esteban', serif;
  font-size: 36px;
  line-height: 40px;
  position: absolute;
  text-align: left;
  text-shadow: 0px 1px 2px #000;
}
/* line 79, ../sass/screen.scss */
p.dropcap:first-letter {
  float: left;
  font-family: Mardian Demo, serif;
  font-size: 200px;
  font-style: normal;
  font-weight: normal;
  line-height: 100px;
  margin-right: 22px;
  padding-left: 5px;
}

/* @end */
/* @group general elements */
/* line 96, ../sass/screen.scss */
.btn-previous {
  background-color: green;
  border: solid 1px #000;
  display: block;
  font-size: 30px;
  height: 40px;
  left: 400px;
  position: absolute;
  text-align: center;
  width: 60px;
  margin-top: 10px;
  z-index: 5;
}

/* line 113, ../sass/screen.scss */
.btn-next {
  background-color: green;
  border: solid 1px #000;
  display: block;
  font-size: 30px;
  height: 40px;
  left: 460px;
  position: absolute;
  text-align: center;
  width: 60px;
  margin-top: 10px;
  z-index: 5;
}

/* @end */
/* @group general animations/interactions */
/* @group page-turning */
/* line 135, ../sass/screen.scss */
.hidden {
  opacity: 0;
  visibility: hidden;
}

/* line 140, ../sass/screen.scss */
.current {
  opacity: 1;
  visibility: visible;
}

/* line 145, ../sass/screen.scss */
.previous {
  opacity: 1;
  visibility: visible;
}

/* @end  */
/* @group element showing/hiding */
@-webkit-keyframes in {
  /* line 155, ../sass/screen.scss */
  0% {
    opacity: 0;
  }

  /* line 156, ../sass/screen.scss */
  100% {
    opacity: 1;
  }
}

@-moz-keyframes in {
  /* line 155, ../sass/screen.scss */
  0% {
    opacity: 0;
  }

  /* line 156, ../sass/screen.scss */
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes out {
  /* line 160, ../sass/screen.scss */
  0% {
    opacity: 1;
  }

  /* line 161, ../sass/screen.scss */
  100% {
    opacity: 0;
  }
}

@-moz-keyframes out {
  /* line 160, ../sass/screen.scss */
  0% {
    opacity: 1;
  }

  /* line 161, ../sass/screen.scss */
  100% {
    opacity: 0;
  }
}

/* @end */
/* @end */
/* @group start-1 page */
/* line 170, ../sass/screen.scss */
.start-1 {
  background: #e3e4e5;
  /* Old browsers */
  background: -moz-radial-gradient(50% 50%, ellipse cover, #e3e4e5 0%, #155a93 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, 50% 50%, 0px, 50% 50%, 100%, color-stop(0%, #e3e4e5), color-stop(100%, #155a93));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(50% 50%, ellipse cover, #e3e4e5 0%, #155a93 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(50% 50%, ellipse cover, #e3e4e5 0%, #155a93 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(50% 50%, ellipse cover, #e3e4e5 0%, #155a93 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at 50% 50%, #e3e4e5 0%, #155a93 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e3e4e5', endColorstr='#155a93',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}

/* line 174, ../sass/screen.scss */
.title {
  width: 577.6px;
  height: 533px;
  background: url(../../images/normal/1start/title.png) no-repeat top left;
  left: 50%;
  margin-left: -280.5px;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 174, ../sass/screen.scss */
  .title {
    background: url(../../images/retina/1start/title_2x.png) no-repeat top left;
  }
}

/* line 181, ../sass/screen.scss */
.mountain {
  width: 100%;
  height: 225px;
  background: url(../../images/normal/1start/mountain.png) no-repeat bottom left;
  bottom: -2px;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 181, ../sass/screen.scss */
  .mountain {
    background: url(../../images/retina/1start/mountain_2x.png) no-repeat bottom left;
  }
}

/* line 187, ../sass/screen.scss */
.sky {
  -webkit-transition: all 15s linear;
  -webkit-transition-delay: 0s;
  -moz-transition: all 15s linear 0s;
  -ms-transition: all 15s linear 0s;
  -o-transition: all 15s linear 0s;
  transition: all 15s linear 0s;
  width: 100%;
  height: 550px;
  background: url(../../images/normal/1start/sky.png) no-repeat bottom left;
  bottom: -100px;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 187, ../sass/screen.scss */
  .sky {
    background: url(../../images/retina/1start/sky_2x.png) no-repeat bottom left;
  }
}

/* line 194, ../sass/screen.scss */
.cloud-1 {
  width: 230px;
  height: 178px;
  background: url(../../images/normal/1start/cloud1.png) no-repeat top left;
  bottom: 225px;
  right: 75px;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 194, ../sass/screen.scss */
  .cloud-1 {
    background: url(../../images/retina/1start/cloud1_2x.png) no-repeat top left;
  }
}

/* line 201, ../sass/screen.scss */
.cloud-2 {
  -webkit-transition: all 50s linear;
  -webkit-transition-delay: 2s;
  -moz-transition: all 50s linear 2s;
  -ms-transition: all 50s linear 2s;
  -o-transition: all 50s linear 2s;
  transition: all 50s linear 2s;
  width: 295.2px;
  height: 120px;
  background: url(../../images/normal/1start/cloud2.png) no-repeat bottom left;
  top: 170px;
  left: 120px;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 201, ../sass/screen.scss */
  .cloud-2 {
    background: url(../../images/retina/1start/cloud2_2x.png) no-repeat bottom left;
  }
}

/* line 209, ../sass/screen.scss */
.titlej {
  width: 273.45px;
  height: 268.95px;
  background: url(../../images/normal/1start/frontj.png) no-repeat top left;
  top: 148px;
  left: 240px;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 209, ../sass/screen.scss */
  .titlej {
    background: url(../../images/retina/1start/frontj_2x.png) no-repeat top left;
  }
}

/* line 216, ../sass/screen.scss */
.right-cloud {
  width: 890px;
  height: 460px;
  background: url(../../images/normal/1start/right-cloud.png) no-repeat top right;
  right: 0;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 216, ../sass/screen.scss */
  .right-cloud {
    background: url(../../images/retina/1start/right-cloud_2x.png) no-repeat top right;
  }
}

/* line 222, ../sass/screen.scss */
.left-cloud {
  width: 950px;
  height: 640px;
  background: url(../../images/normal/1start/left-cloud.png) no-repeat top left;
  top: 0px;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 222, ../sass/screen.scss */
  .left-cloud {
    background: url(../../images/retina/1start/left-cloud_2x.png) no-repeat top left;
  }
}

/* @group animations */
/* line 232, ../sass/screen.scss */
.current > .right-cloud {
  -webkit-animation: right-cloud 5s 1s  ease-in forwards;
  -moz-animation: right-cloud 5s 1s  ease-in forwards;
}

@-webkit-keyframes right-cloud {
  /* line 237, ../sass/screen.scss */
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  /* line 238, ../sass/screen.scss */
  100% {
    -webkit-transform: translate3d(200%, 0, 0);
    -moz-transform: translate3d(200%, 0, 0);
    -ms-transform: translate3d(200%, 0, 0);
    -o-transform: translate3d(200%, 0, 0);
    transform: translate3d(200%, 0, 0);
  }
}

@-moz-keyframes right-cloud {
  /* line 237, ../sass/screen.scss */
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  /* line 238, ../sass/screen.scss */
  100% {
    -webkit-transform: translate3d(200%, 0, 0);
    -moz-transform: translate3d(200%, 0, 0);
    -ms-transform: translate3d(200%, 0, 0);
    -o-transform: translate3d(200%, 0, 0);
    transform: translate3d(200%, 0, 0);
  }
}

/* line 241, ../sass/screen.scss */
.current > .left-cloud {
  -webkit-animation: left-cloud 5s 1s  ease-in forwards;
  -moz-animation: left-cloud 5s 1s  ease-in forwards;
}

@-webkit-keyframes left-cloud {
  /* line 246, ../sass/screen.scss */
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  /* line 247, ../sass/screen.scss */
  100% {
    -webkit-transform: translate3d(-200%, 0, 0);
    -moz-transform: translate3d(-200%, 0, 0);
    -ms-transform: translate3d(-200%, 0, 0);
    -o-transform: translate3d(-200%, 0, 0);
    transform: translate3d(-200%, 0, 0);
  }
}

@-moz-keyframes left-cloud {
  /* line 246, ../sass/screen.scss */
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  /* line 247, ../sass/screen.scss */
  100% {
    -webkit-transform: translate3d(-200%, 0, 0);
    -moz-transform: translate3d(-200%, 0, 0);
    -ms-transform: translate3d(-200%, 0, 0);
    -o-transform: translate3d(-200%, 0, 0);
    transform: translate3d(-200%, 0, 0);
  }
}

/* line 250, ../sass/screen.scss */
.current > .cloud-1 {
  -webkit-animation: cloud-1 50s 1s  linear forwards;
  -moz-animation: cloud-1 50s 1s  linear forwards;
}

@-webkit-keyframes cloud-1 {
  /* line 255, ../sass/screen.scss */
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  /* line 256, ../sass/screen.scss */
  100% {
    -webkit-transform: translate3d(-400%, 0, 0);
    -moz-transform: translate3d(-400%, 0, 0);
    -ms-transform: translate3d(-400%, 0, 0);
    -o-transform: translate3d(-400%, 0, 0);
    transform: translate3d(-400%, 0, 0);
  }
}

@-moz-keyframes cloud-1 {
  /* line 255, ../sass/screen.scss */
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  /* line 256, ../sass/screen.scss */
  100% {
    -webkit-transform: translate3d(-400%, 0, 0);
    -moz-transform: translate3d(-400%, 0, 0);
    -ms-transform: translate3d(-400%, 0, 0);
    -o-transform: translate3d(-400%, 0, 0);
    transform: translate3d(-400%, 0, 0);
  }
}

/* line 259, ../sass/screen.scss */
.current > .cloud-2 {
  -webkit-animation: cloud-2 50s 1s  linear forwards;
  -moz-animation: cloud-2 50s 1s  linear forwards;
}

@-webkit-keyframes cloud-2 {
  /* line 264, ../sass/screen.scss */
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  /* line 265, ../sass/screen.scss */
  100% {
    -webkit-transform: translate3d(300%, 0, 0);
    -moz-transform: translate3d(300%, 0, 0);
    -ms-transform: translate3d(300%, 0, 0);
    -o-transform: translate3d(300%, 0, 0);
    transform: translate3d(300%, 0, 0);
  }
}

@-moz-keyframes cloud-2 {
  /* line 264, ../sass/screen.scss */
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  /* line 265, ../sass/screen.scss */
  100% {
    -webkit-transform: translate3d(300%, 0, 0);
    -moz-transform: translate3d(300%, 0, 0);
    -ms-transform: translate3d(300%, 0, 0);
    -o-transform: translate3d(300%, 0, 0);
    transform: translate3d(300%, 0, 0);
  }
}

/* @end */
/* @end */
/* @group exposition-2 */
/* line 274, ../sass/screen.scss */
.exposition-2 {
  background: #e3e4e5;
  /* Old browsers */
  background: -moz-radial-gradient(75% 77%, ellipse cover, #e3e4e5 0%, #155a93 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, 75% 77%, 0px, 75% 77%, 100%, color-stop(0%, #e3e4e5), color-stop(100%, #155a93));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(75% 77%, ellipse cover, #e3e4e5 0%, #155a93 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(75% 77%, ellipse cover, #e3e4e5 0%, #155a93 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(75% 77%, ellipse cover, #e3e4e5 0%, #155a93 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at 75% 77%, #e3e4e5 0%, #155a93 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e3e4e5', endColorstr='#155a93',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}
/* line 277, ../sass/screen.scss */
.exposition-2 .a, .exposition-2 .c {
  width: 400px;
  height: 400px;
  left: 40px;
  position: absolute;
  top: 100px;
}
/* line 284, ../sass/screen.scss */
.exposition-2 .b {
  float: right;
  opacity: 0;
}
/* line 289, ../sass/screen.scss */
.exposition-2 .c {
  opacity: 0;
}
/* line 293, ../sass/screen.scss */
.exposition-2 .c:first-letter {
  line-height: 120px;
  margin-bottom: 20px;
  margin-right: 40px;
}

/* line 301, ../sass/screen.scss */
.house-right {
  background: url(../../images/normal/2exposition/house_right.png) no-repeat bottom left;
  -webkit-transform-origin: 50% 95%;
  -moz-transform-origin: 50% 95%;
  -ms-transform-origin: 50% 95%;
  -o-transform-origin: 50% 95%;
  transform-origin: 50% 95%;
  bottom: 111px;
  height: 419px;
  right: 85px;
  width: 160px;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 301, ../sass/screen.scss */
  .house-right {
    background: url(../../images/retina/2exposition/house_right_2x.png) no-repeat bottom left;
  }
}

/* line 310, ../sass/screen.scss */
.house-left {
  background: url(../../images/normal/2exposition/house_left.png) no-repeat bottom left;
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  bottom: 173px;
  height: 458.08px;
  right: 195px;
  width: 415.53px;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 310, ../sass/screen.scss */
  .house-left {
    background: url(../../images/retina/2exposition/house_left_2x.png) no-repeat bottom left;
  }
}

/* line 319, ../sass/screen.scss */
.cloud {
  background: url(../../images/normal/2exposition/cloud.png) no-repeat bottom left;
  height: 299.46px;
  right: -100px;
  top: 20px;
  width: 395.87px;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 319, ../sass/screen.scss */
  .cloud {
    background: url(../../images/retina/2exposition/cloud_2x.png) no-repeat bottom left;
  }
}

/* line 327, ../sass/screen.scss */
.sign {
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  background: url(../../images/normal/2exposition/sign.png) no-repeat bottom left;
  -webkit-transform: rotate(240deg);
  -moz-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  -o-transform: rotate(240deg);
  transform: rotate(240deg);
  -webkit-transform-origin: 90% 93%;
  -moz-transform-origin: 90% 93%;
  -ms-transform-origin: 90% 93%;
  -o-transform-origin: 90% 93%;
  transform-origin: 90% 93%;
  bottom: 177px;
  height: 141px;
  left: 406px;
  width: 173px;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 327, ../sass/screen.scss */
  .sign {
    background: url(../../images/retina/2exposition/sign_2x.png) no-repeat bottom left;
  }
}

/* line 338, ../sass/screen.scss */
.grass-top {
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  background: url(../../images/normal/2exposition/grass_top.png) no-repeat bottom left;
  bottom: 0;
  height: 485px;
  width: 100%;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 338, ../sass/screen.scss */
  .grass-top {
    background: url(../../images/retina/2exposition/grass_top_2x.png) no-repeat bottom left;
  }
}

/* line 346, ../sass/screen.scss */
.grass-bottom {
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  background: url(../../images/normal/2exposition/grass_bottom.png) no-repeat bottom left;
  bottom: 0;
  height: 188px;
  width: 100%;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 346, ../sass/screen.scss */
  .grass-bottom {
    background: url(../../images/retina/2exposition/grass_bottom_2x.png) no-repeat bottom left;
  }
}

/* @group animations */
/* @group timing variables */
/* @end */
/* line 366, ../sass/screen.scss */
.current > .a > .b, .exposition-2 .current > .c > .b {
  -webkit-animation: in 1s 5s  linear forwards;
  -moz-animation: in 1s 5s  linear forwards;
}

/* line 370, ../sass/screen.scss */
.current > .a, .exposition-2 .current > .c {
  -webkit-animation: out 1s 8.5s  linear forwards;
  -moz-animation: out 1s 8.5s  linear forwards;
}

/* line 374, ../sass/screen.scss */
.current > .c {
  -webkit-animation: in 1s 8.5s  linear forwards;
  -moz-animation: in 1s 8.5s  linear forwards;
}

/* line 378, ../sass/screen.scss */
.current > .house-right {
  -webkit-animation: fall_right 2s 7s  ease-in forwards;
  -moz-animation: fall_right 2s 7s  ease-in forwards;
}

@-webkit-keyframes fall_right {
  /* line 383, ../sass/screen.scss */
  0% {
    opacity: 1;
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
    -moz-transform: rotate3d(0, 0, 0, 0deg);
    -ms-transform: rotate3d(0, 0, 0, 0deg);
    -o-transform: rotate3d(0, 0, 0, 0deg);
    transform: rotate3d(0, 0, 0, 0deg);
  }

  /* line 388, ../sass/screen.scss */
  60% {
    -webkit-transform: rotate3d(100, -25, 0, 150deg);
    -moz-transform: rotate3d(100, -25, 0, 150deg);
    -ms-transform: rotate3d(100, -25, 0, 150deg);
    -o-transform: rotate3d(100, -25, 0, 150deg);
    transform: rotate3d(100, -25, 0, 150deg);
    opacity: 1;
  }

  /* line 393, ../sass/screen.scss */
  100% {
    -webkit-transform: rotate3d(100, -25, 0, 150deg);
    -moz-transform: rotate3d(100, -25, 0, 150deg);
    -ms-transform: rotate3d(100, -25, 0, 150deg);
    -o-transform: rotate3d(100, -25, 0, 150deg);
    transform: rotate3d(100, -25, 0, 150deg);
    opacity: 0;
  }
}

@-moz-keyframes fall_right {
  /* line 383, ../sass/screen.scss */
  0% {
    opacity: 1;
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
    -moz-transform: rotate3d(0, 0, 0, 0deg);
    -ms-transform: rotate3d(0, 0, 0, 0deg);
    -o-transform: rotate3d(0, 0, 0, 0deg);
    transform: rotate3d(0, 0, 0, 0deg);
  }

  /* line 388, ../sass/screen.scss */
  60% {
    -webkit-transform: rotate3d(100, -25, 0, 150deg);
    -moz-transform: rotate3d(100, -25, 0, 150deg);
    -ms-transform: rotate3d(100, -25, 0, 150deg);
    -o-transform: rotate3d(100, -25, 0, 150deg);
    transform: rotate3d(100, -25, 0, 150deg);
    opacity: 1;
  }

  /* line 393, ../sass/screen.scss */
  100% {
    -webkit-transform: rotate3d(100, -25, 0, 150deg);
    -moz-transform: rotate3d(100, -25, 0, 150deg);
    -ms-transform: rotate3d(100, -25, 0, 150deg);
    -o-transform: rotate3d(100, -25, 0, 150deg);
    transform: rotate3d(100, -25, 0, 150deg);
    opacity: 0;
  }
}

/* line 399, ../sass/screen.scss */
.current > .house-left {
  -webkit-animation: fall_left 2s 7s  ease-in forwards;
  -moz-animation: fall_left 2s 7s  ease-in forwards;
}

@-webkit-keyframes fall_left {
  /* line 404, ../sass/screen.scss */
  0% {
    opacity: 1;
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
    -moz-transform: rotate3d(0, 0, 0, 0deg);
    -ms-transform: rotate3d(0, 0, 0, 0deg);
    -o-transform: rotate3d(0, 0, 0, 0deg);
    transform: rotate3d(0, 0, 0, 0deg);
  }

  /* line 409, ../sass/screen.scss */
  60% {
    -webkit-transform: rotate3d(100, 25, 0, 150deg);
    -moz-transform: rotate3d(100, 25, 0, 150deg);
    -ms-transform: rotate3d(100, 25, 0, 150deg);
    -o-transform: rotate3d(100, 25, 0, 150deg);
    transform: rotate3d(100, 25, 0, 150deg);
    opacity: 1;
  }

  /* line 414, ../sass/screen.scss */
  100% {
    -webkit-transform: rotate3d(100, 25, 0, 150deg);
    -moz-transform: rotate3d(100, 25, 0, 150deg);
    -ms-transform: rotate3d(100, 25, 0, 150deg);
    -o-transform: rotate3d(100, 25, 0, 150deg);
    transform: rotate3d(100, 25, 0, 150deg);
    opacity: 0;
  }
}

@-moz-keyframes fall_left {
  /* line 404, ../sass/screen.scss */
  0% {
    opacity: 1;
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
    -moz-transform: rotate3d(0, 0, 0, 0deg);
    -ms-transform: rotate3d(0, 0, 0, 0deg);
    -o-transform: rotate3d(0, 0, 0, 0deg);
    transform: rotate3d(0, 0, 0, 0deg);
  }

  /* line 409, ../sass/screen.scss */
  60% {
    -webkit-transform: rotate3d(100, 25, 0, 150deg);
    -moz-transform: rotate3d(100, 25, 0, 150deg);
    -ms-transform: rotate3d(100, 25, 0, 150deg);
    -o-transform: rotate3d(100, 25, 0, 150deg);
    transform: rotate3d(100, 25, 0, 150deg);
    opacity: 1;
  }

  /* line 414, ../sass/screen.scss */
  100% {
    -webkit-transform: rotate3d(100, 25, 0, 150deg);
    -moz-transform: rotate3d(100, 25, 0, 150deg);
    -ms-transform: rotate3d(100, 25, 0, 150deg);
    -o-transform: rotate3d(100, 25, 0, 150deg);
    transform: rotate3d(100, 25, 0, 150deg);
    opacity: 0;
  }
}

/* line 420, ../sass/screen.scss */
.current > .sign {
  -webkit-animation: sign 0.3s 9s  ease-in forwards;
  -moz-animation: sign 0.3s 9s  ease-in forwards;
}

@-webkit-keyframes sign {
  /* line 425, ../sass/screen.scss */
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes sign {
  /* line 425, ../sass/screen.scss */
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* line 430, ../sass/screen.scss */
.current > .cloud {
  -webkit-animation: cloud 60s 0.1s  linear forwards;
  -moz-animation: cloud 60s 0.1s  linear forwards;
}

@-webkit-keyframes cloud {
  /* line 435, ../sass/screen.scss */
  100% {
    -webkit-transform: translate3d(-300%, 0, 0);
    -moz-transform: translate3d(-300%, 0, 0);
    -ms-transform: translate3d(-300%, 0, 0);
    -o-transform: translate3d(-300%, 0, 0);
    transform: translate3d(-300%, 0, 0);
  }
}

@-moz-keyframes cloud {
  /* line 435, ../sass/screen.scss */
  100% {
    -webkit-transform: translate3d(-300%, 0, 0);
    -moz-transform: translate3d(-300%, 0, 0);
    -ms-transform: translate3d(-300%, 0, 0);
    -o-transform: translate3d(-300%, 0, 0);
    transform: translate3d(-300%, 0, 0);
  }
}

/* @end */
/* @end */
/* @group beanstalk-4 */
/* line 446, ../sass/screen.scss */
.beanstalk-4 {
  overflow-y: scroll;
}

/* line 450, ../sass/screen.scss */
.background {
  background: url(../../images/normal/4beanstalk/background.png) no-repeat bottom left;
  width: 100%;
  height: 3229px;
  /* @group text */
  /* @end */
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 450, ../sass/screen.scss */
  .background {
    background: url(../../images/retina/4beanstalk/background_2x.png) no-repeat bottom left;
  }
}
/* line 458, ../sass/screen.scss */
.background .a, .background .exposition-2 .c, .exposition-2 .background .c {
  bottom: 410px;
  right: 50px;
  width: 500px;
  height: auto;
  opacity: 1;
}
/* line 465, ../sass/screen.scss */
.background .b {
  bottom: 1000px;
  right: 40px;
  color: #228529;
  opacity: 0;
}
/* line 472, ../sass/screen.scss */
.background .c {
  bottom: 1600px;
  left: 300px;
  color: #228529;
  opacity: 0;
}
/* line 479, ../sass/screen.scss */
.background .d {
  bottom: 2039px;
  right: 340px;
  -webkit-transform: rotate(22deg);
  -moz-transform: rotate(22deg);
  -ms-transform: rotate(22deg);
  -o-transform: rotate(22deg);
  transform: rotate(22deg);
  color: #228529;
  opacity: 0;
}
/* line 487, ../sass/screen.scss */
.background .e {
  top: 70px;
  left: 40px;
  width: 700px;
  opacity: 0;
}

/* line 499, ../sass/screen.scss */
::-webkit-scrollbar {
  display: none;
}

/* line 503, ../sass/screen.scss */
.beanstalk {
  background: url(../../images/normal/4beanstalk/beanstalk.png) no-repeat bottom left;
  width: 1003px;
  height: 2463px;
  bottom: 0;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 503, ../sass/screen.scss */
  .beanstalk {
    background: url(../../images/retina/4beanstalk/beanstalk_2x.png) no-repeat bottom left;
  }
}

/* line 509, ../sass/screen.scss */
.cloudsdivide {
  background: url(../../images/normal/4beanstalk/cloudsdivide.png) no-repeat bottom left;
  width: 100%;
  height: 1048px;
  top: 350px;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 509, ../sass/screen.scss */
  .cloudsdivide {
    background: url(../../images/retina/4beanstalk/cloudsdivide_2x.png) no-repeat bottom left;
  }
}

/* line 515, ../sass/screen.scss */
.castleclouds {
  background: url(../../images/normal/4beanstalk/castleclouds.png) no-repeat bottom left;
  width: 184px;
  height: 108px;
  top: 58px;
  right: 90px;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 515, ../sass/screen.scss */
  .castleclouds {
    background: url(../../images/retina/4beanstalk/castleclouds_2x.png) no-repeat bottom left;
  }
}

/* line 522, ../sass/screen.scss */
.castle {
  background: url(../../images/normal/4beanstalk/castle.png) no-repeat bottom left;
  width: 335px;
  height: 558px;
  top: 58px;
  right: -40px;
  z-index: 1;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 522, ../sass/screen.scss */
  .castle {
    background: url(../../images/retina/4beanstalk/castle_2x.png) no-repeat bottom left;
  }
}

/* line 530, ../sass/screen.scss */
.upperclouds {
  background: url(../../images/normal/4beanstalk/cloudsupper.png) no-repeat bottom left;
  width: 523px;
  height: 517px;
  top: 91px;
  right: -108px;
  z-index: 2;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 530, ../sass/screen.scss */
  .upperclouds {
    background: url(../../images/retina/4beanstalk/cloudsupper_2x.png) no-repeat bottom left;
  }
}

/* line 538, ../sass/screen.scss */
.right {
  right: -200%;
}

/* line 542, ../sass/screen.scss */
.left {
  left: -200%;
}

/* line 546, ../sass/screen.scss */
.cloudback {
  background: url(../../images/normal/4beanstalk/cloudsback.png) no-repeat bottom left;
  width: 1794px;
  height: 560px;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 546, ../sass/screen.scss */
  .cloudback {
    background: url(../../images/retina/4beanstalk/cloudsback_2x.png) no-repeat bottom left;
  }
}
/* line 550, ../sass/screen.scss */
.cloudback.top {
  bottom: 1500px;
}
/* line 554, ../sass/screen.scss */
.cloudback.top2 {
  bottom: 1500px;
}
/* line 558, ../sass/screen.scss */
.cloudback.middle {
  bottom: 1000px;
}
/* line 562, ../sass/screen.scss */
.cloudback.bottom {
  bottom: 800px;
}

/* line 567, ../sass/screen.scss */
.cloudfront {
  background: url(../../images/normal/4beanstalk/cloudfront.png) no-repeat bottom left;
  width: 1689px;
  height: 987px;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 567, ../sass/screen.scss */
  .cloudfront {
    background: url(../../images/retina/4beanstalk/cloudfront_2x.png) no-repeat bottom left;
  }
}
/* line 571, ../sass/screen.scss */
.cloudfront.top {
  bottom: 1500px;
}
/* line 575, ../sass/screen.scss */
.cloudfront.top2 {
  bottom: 1500px;
}
/* line 579, ../sass/screen.scss */
.cloudfront.middle {
  bottom: 1000px;
}
/* line 583, ../sass/screen.scss */
.cloudfront.bottom {
  bottom: 800px;
}

/* line 588, ../sass/screen.scss */
.birda {
  background: url(../../images/normal/4beanstalk/birds_front_1.png) no-repeat bottom left;
  width: 13px;
  height: 11px;
  top: 120px;
  right: 100px;
  z-index: 2;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 588, ../sass/screen.scss */
  .birda {
    background: url(../../images/retina/4beanstalk/birds_front_1_2x.png) no-repeat bottom left;
  }
}

/* line 596, ../sass/screen.scss */
.birdb {
  background: url(../../images/normal/4beanstalk/birds_front_2.png) no-repeat bottom left;
  width: 11px;
  height: 6px;
  top: 120px;
  right: 180px;
  z-index: 2;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 596, ../sass/screen.scss */
  .birdb {
    background: url(../../images/retina/4beanstalk/birds_front_2_2x.png) no-repeat bottom left;
  }
}

/* line 604, ../sass/screen.scss */
.birdc {
  background: url(../../images/normal/4beanstalk/birds_front_3.png) no-repeat bottom left;
  width: 10px;
  height: 5px;
  top: 120px;
  right: 200px;
  z-index: 0;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 604, ../sass/screen.scss */
  .birdc {
    background: url(../../images/retina/4beanstalk/birds_front_3_2x.png) no-repeat bottom left;
  }
}

/* line 612, ../sass/screen.scss */
.birdd {
  background: url(../../images/normal/4beanstalk/birds_back_1.png) no-repeat bottom left;
  width: 18px;
  height: 6px;
  top: 100px;
  right: 200px;
  z-index: 0;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 612, ../sass/screen.scss */
  .birdd {
    background: url(../../images/retina/4beanstalk/birds_back_1_2x.png) no-repeat bottom left;
  }
}

/* @group animations */
/* @group lower clouds */
/* line 624, ../sass/screen.scss */
.current > .background > .cloudfront.top {
  -webkit-animation: left 7s 0.1s infinite linear forwards;
  -moz-animation: left 7s 0.1s infinite linear forwards;
}

/* line 628, ../sass/screen.scss */
.current > .background > .cloudfront.top2 {
  -webkit-animation: right 8s 1s infinite linear forwards;
  -moz-animation: right 8s 1s infinite linear forwards;
}

/* line 632, ../sass/screen.scss */
.current > .background > .cloudback.top2 {
  -webkit-animation: left 7s 0.1s infinite linear forwards;
  -moz-animation: left 7s 0.1s infinite linear forwards;
}

/* line 636, ../sass/screen.scss */
.current > .background > .cloudfront.top2 {
  -webkit-animation: right 10s 1s infinite linear forwards;
  -moz-animation: right 10s 1s infinite linear forwards;
}

/* line 640, ../sass/screen.scss */
.current > .background > .cloudfront.middle {
  -webkit-animation: right 8s 0.1s infinite linear forwards;
  -moz-animation: right 8s 0.1s infinite linear forwards;
}

/* line 644, ../sass/screen.scss */
.current > .background > .cloudfront.bottom {
  -webkit-animation: left 12s 0.1s infinite linear forwards;
  -moz-animation: left 12s 0.1s infinite linear forwards;
}

/* line 648, ../sass/screen.scss */
.current > .background > .cloudback.top {
  -webkit-animation: right 7s 0.1s infinite linear forwards;
  -moz-animation: right 7s 0.1s infinite linear forwards;
}

/* line 652, ../sass/screen.scss */
.current > .background > .cloudback.middle {
  -webkit-animation: left 8s 0.1s infinite linear forwards;
  -moz-animation: left 8s 0.1s infinite linear forwards;
}

/* line 656, ../sass/screen.scss */
.current > .background > .cloudback.bottom {
  -webkit-animation: right 11s 0.1s infinite linear forwards;
  -moz-animation: right 11s 0.1s infinite linear forwards;
}

@-webkit-keyframes left {
  /* line 661, ../sass/screen.scss */
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  /* line 662, ../sass/screen.scss */
  100% {
    -webkit-transform: translate3d(-200%, 0, 0);
    -moz-transform: translate3d(-200%, 0, 0);
    -ms-transform: translate3d(-200%, 0, 0);
    -o-transform: translate3d(-200%, 0, 0);
    transform: translate3d(-200%, 0, 0);
  }
}

@-moz-keyframes left {
  /* line 661, ../sass/screen.scss */
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  /* line 662, ../sass/screen.scss */
  100% {
    -webkit-transform: translate3d(-200%, 0, 0);
    -moz-transform: translate3d(-200%, 0, 0);
    -ms-transform: translate3d(-200%, 0, 0);
    -o-transform: translate3d(-200%, 0, 0);
    transform: translate3d(-200%, 0, 0);
  }
}

@-webkit-keyframes right {
  /* line 666, ../sass/screen.scss */
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  /* line 667, ../sass/screen.scss */
  100% {
    -webkit-transform: translate3d(200%, 0, 0);
    -moz-transform: translate3d(200%, 0, 0);
    -ms-transform: translate3d(200%, 0, 0);
    -o-transform: translate3d(200%, 0, 0);
    transform: translate3d(200%, 0, 0);
  }
}

@-moz-keyframes right {
  /* line 666, ../sass/screen.scss */
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  /* line 667, ../sass/screen.scss */
  100% {
    -webkit-transform: translate3d(200%, 0, 0);
    -moz-transform: translate3d(200%, 0, 0);
    -ms-transform: translate3d(200%, 0, 0);
    -o-transform: translate3d(200%, 0, 0);
    transform: translate3d(200%, 0, 0);
  }
}

/* @end */
/* @group top */
/* line 674, ../sass/screen.scss */
.current > .background > .cloudsdivide {
  -webkit-animation: bouncebig 3s 0.1s infinite ease-in-out forwards;
  -moz-animation: bouncebig 3s 0.1s infinite ease-in-out forwards;
}

/* line 678, ../sass/screen.scss */
.current > .background > .castleclouds {
  -webkit-animation: bouncesmall 3s 0.1s infinite ease-in-out forwards;
  -moz-animation: bouncesmall 3s 0.1s infinite ease-in-out forwards;
}

/* line 682, ../sass/screen.scss */
.current > .background > .birda {
  -webkit-animation: fly1 3s 0.1s infinite linear forwards;
  -moz-animation: fly1 3s 0.1s infinite linear forwards;
}

/* line 686, ../sass/screen.scss */
.current > .background > .birdb {
  -webkit-animation: fly2 3s 0.1s infinite linear forwards;
  -moz-animation: fly2 3s 0.1s infinite linear forwards;
}

/* line 690, ../sass/screen.scss */
.current > .background > .birdc {
  -webkit-animation: fly3 3s 0.1s infinite linear forwards;
  -moz-animation: fly3 3s 0.1s infinite linear forwards;
}

/* line 694, ../sass/screen.scss */
.current > .background > .birdd {
  -webkit-animation: fly4 4s 0.1s infinite linear forwards;
  -moz-animation: fly4 4s 0.1s infinite linear forwards;
}

@-webkit-keyframes fly1 {
  /* line 699, ../sass/screen.scss */
  0% {
    -webkit-transform: rotate3d(0, 1, 0, 90deg);
    -moz-transform: rotate3d(0, 1, 0, 90deg);
    -ms-transform: rotate3d(0, 1, 0, 90deg);
    -o-transform: rotate3d(0, 1, 0, 90deg);
    transform: rotate3d(0, 1, 0, 90deg);
    right: 115px;
  }

  /* line 704, ../sass/screen.scss */
  25% {
    -webkit-transform: rotate3d(0, 1, 0, 0deg);
    -moz-transform: rotate3d(0, 1, 0, 0deg);
    -ms-transform: rotate3d(0, 1, 0, 0deg);
    -o-transform: rotate3d(0, 1, 0, 0deg);
    transform: rotate3d(0, 1, 0, 0deg);
    right: 162.5px;
  }

  /* line 709, ../sass/screen.scss */
  49% {
    z-index: 2;
  }

  /* line 713, ../sass/screen.scss */
  50% {
    -webkit-transform: rotate3d(0, 1, 0, -90deg);
    -moz-transform: rotate3d(0, 1, 0, -90deg);
    -ms-transform: rotate3d(0, 1, 0, -90deg);
    -o-transform: rotate3d(0, 1, 0, -90deg);
    transform: rotate3d(0, 1, 0, -90deg);
    right: 210px;
    z-index: 0;
  }

  /* line 719, ../sass/screen.scss */
  75% {
    -webkit-transform: rotate3d(0, 1, 0, -180deg);
    -moz-transform: rotate3d(0, 1, 0, -180deg);
    -ms-transform: rotate3d(0, 1, 0, -180deg);
    -o-transform: rotate3d(0, 1, 0, -180deg);
    transform: rotate3d(0, 1, 0, -180deg);
    right: 162.5px;
  }

  /* line 724, ../sass/screen.scss */
  99% {
    z-index: 0;
  }

  /* line 728, ../sass/screen.scss */
  100% {
    -webkit-transform: rotate3d(0, 1, 0, -270deg);
    -moz-transform: rotate3d(0, 1, 0, -270deg);
    -ms-transform: rotate3d(0, 1, 0, -270deg);
    -o-transform: rotate3d(0, 1, 0, -270deg);
    transform: rotate3d(0, 1, 0, -270deg);
    right: 115px;
    z-index: 2;
  }
}

@-moz-keyframes fly1 {
  /* line 699, ../sass/screen.scss */
  0% {
    -webkit-transform: rotate3d(0, 1, 0, 90deg);
    -moz-transform: rotate3d(0, 1, 0, 90deg);
    -ms-transform: rotate3d(0, 1, 0, 90deg);
    -o-transform: rotate3d(0, 1, 0, 90deg);
    transform: rotate3d(0, 1, 0, 90deg);
    right: 115px;
  }

  /* line 704, ../sass/screen.scss */
  25% {
    -webkit-transform: rotate3d(0, 1, 0, 0deg);
    -moz-transform: rotate3d(0, 1, 0, 0deg);
    -ms-transform: rotate3d(0, 1, 0, 0deg);
    -o-transform: rotate3d(0, 1, 0, 0deg);
    transform: rotate3d(0, 1, 0, 0deg);
    right: 162.5px;
  }

  /* line 709, ../sass/screen.scss */
  49% {
    z-index: 2;
  }

  /* line 713, ../sass/screen.scss */
  50% {
    -webkit-transform: rotate3d(0, 1, 0, -90deg);
    -moz-transform: rotate3d(0, 1, 0, -90deg);
    -ms-transform: rotate3d(0, 1, 0, -90deg);
    -o-transform: rotate3d(0, 1, 0, -90deg);
    transform: rotate3d(0, 1, 0, -90deg);
    right: 210px;
    z-index: 0;
  }

  /* line 719, ../sass/screen.scss */
  75% {
    -webkit-transform: rotate3d(0, 1, 0, -180deg);
    -moz-transform: rotate3d(0, 1, 0, -180deg);
    -ms-transform: rotate3d(0, 1, 0, -180deg);
    -o-transform: rotate3d(0, 1, 0, -180deg);
    transform: rotate3d(0, 1, 0, -180deg);
    right: 162.5px;
  }

  /* line 724, ../sass/screen.scss */
  99% {
    z-index: 0;
  }

  /* line 728, ../sass/screen.scss */
  100% {
    -webkit-transform: rotate3d(0, 1, 0, -270deg);
    -moz-transform: rotate3d(0, 1, 0, -270deg);
    -ms-transform: rotate3d(0, 1, 0, -270deg);
    -o-transform: rotate3d(0, 1, 0, -270deg);
    transform: rotate3d(0, 1, 0, -270deg);
    right: 115px;
    z-index: 2;
  }
}

@-webkit-keyframes fly2 {
  /* line 736, ../sass/screen.scss */
  0% {
    -webkit-transform: rotate3d(0, 1, 0, 0deg);
    -moz-transform: rotate3d(0, 1, 0, 0deg);
    -ms-transform: rotate3d(0, 1, 0, 0deg);
    -o-transform: rotate3d(0, 1, 0, 0deg);
    transform: rotate3d(0, 1, 0, 0deg);
    right: 170px;
  }

  /* line 741, ../sass/screen.scss */
  24% {
    z-index: 2;
  }

  /* line 745, ../sass/screen.scss */
  25% {
    -webkit-transform: rotate3d(0, 1, 0, -90deg);
    -moz-transform: rotate3d(0, 1, 0, -90deg);
    -ms-transform: rotate3d(0, 1, 0, -90deg);
    -o-transform: rotate3d(0, 1, 0, -90deg);
    transform: rotate3d(0, 1, 0, -90deg);
    right: 210px;
    z-index: 0;
  }

  /* line 751, ../sass/screen.scss */
  50% {
    -webkit-transform: rotate3d(0, 1, 0, -180deg);
    -moz-transform: rotate3d(0, 1, 0, -180deg);
    -ms-transform: rotate3d(0, 1, 0, -180deg);
    -o-transform: rotate3d(0, 1, 0, -180deg);
    transform: rotate3d(0, 1, 0, -180deg);
    right: 170px;
  }

  /* line 756, ../sass/screen.scss */
  74% {
    z-index: 0;
  }

  /* line 760, ../sass/screen.scss */
  75% {
    -webkit-transform: rotate3d(0, 1, 0, -270deg);
    -moz-transform: rotate3d(0, 1, 0, -270deg);
    -ms-transform: rotate3d(0, 1, 0, -270deg);
    -o-transform: rotate3d(0, 1, 0, -270deg);
    transform: rotate3d(0, 1, 0, -270deg);
    right: 130px;
    z-index: 2;
  }

  /* line 766, ../sass/screen.scss */
  100% {
    -webkit-transform: rotate3d(0, 1, 0, -360deg);
    -moz-transform: rotate3d(0, 1, 0, -360deg);
    -ms-transform: rotate3d(0, 1, 0, -360deg);
    -o-transform: rotate3d(0, 1, 0, -360deg);
    transform: rotate3d(0, 1, 0, -360deg);
    right: 170px;
  }
}

@-moz-keyframes fly2 {
  /* line 736, ../sass/screen.scss */
  0% {
    -webkit-transform: rotate3d(0, 1, 0, 0deg);
    -moz-transform: rotate3d(0, 1, 0, 0deg);
    -ms-transform: rotate3d(0, 1, 0, 0deg);
    -o-transform: rotate3d(0, 1, 0, 0deg);
    transform: rotate3d(0, 1, 0, 0deg);
    right: 170px;
  }

  /* line 741, ../sass/screen.scss */
  24% {
    z-index: 2;
  }

  /* line 745, ../sass/screen.scss */
  25% {
    -webkit-transform: rotate3d(0, 1, 0, -90deg);
    -moz-transform: rotate3d(0, 1, 0, -90deg);
    -ms-transform: rotate3d(0, 1, 0, -90deg);
    -o-transform: rotate3d(0, 1, 0, -90deg);
    transform: rotate3d(0, 1, 0, -90deg);
    right: 210px;
    z-index: 0;
  }

  /* line 751, ../sass/screen.scss */
  50% {
    -webkit-transform: rotate3d(0, 1, 0, -180deg);
    -moz-transform: rotate3d(0, 1, 0, -180deg);
    -ms-transform: rotate3d(0, 1, 0, -180deg);
    -o-transform: rotate3d(0, 1, 0, -180deg);
    transform: rotate3d(0, 1, 0, -180deg);
    right: 170px;
  }

  /* line 756, ../sass/screen.scss */
  74% {
    z-index: 0;
  }

  /* line 760, ../sass/screen.scss */
  75% {
    -webkit-transform: rotate3d(0, 1, 0, -270deg);
    -moz-transform: rotate3d(0, 1, 0, -270deg);
    -ms-transform: rotate3d(0, 1, 0, -270deg);
    -o-transform: rotate3d(0, 1, 0, -270deg);
    transform: rotate3d(0, 1, 0, -270deg);
    right: 130px;
    z-index: 2;
  }

  /* line 766, ../sass/screen.scss */
  100% {
    -webkit-transform: rotate3d(0, 1, 0, -360deg);
    -moz-transform: rotate3d(0, 1, 0, -360deg);
    -ms-transform: rotate3d(0, 1, 0, -360deg);
    -o-transform: rotate3d(0, 1, 0, -360deg);
    transform: rotate3d(0, 1, 0, -360deg);
    right: 170px;
  }
}

@-webkit-keyframes fly3 {
  /* line 773, ../sass/screen.scss */
  0% {
    -webkit-transform: rotate3d(0, 1, 0, -90deg);
    -moz-transform: rotate3d(0, 1, 0, -90deg);
    -ms-transform: rotate3d(0, 1, 0, -90deg);
    -o-transform: rotate3d(0, 1, 0, -90deg);
    transform: rotate3d(0, 1, 0, -90deg);
    right: 230px;
    z-index: 0;
  }

  /* line 779, ../sass/screen.scss */
  25% {
    -webkit-transform: rotate3d(0, 1, 0, -180deg);
    -moz-transform: rotate3d(0, 1, 0, -180deg);
    -ms-transform: rotate3d(0, 1, 0, -180deg);
    -o-transform: rotate3d(0, 1, 0, -180deg);
    transform: rotate3d(0, 1, 0, -180deg);
    right: 170px;
  }

  /* line 784, ../sass/screen.scss */
  49% {
    z-index: 0;
  }

  /* line 788, ../sass/screen.scss */
  50% {
    -webkit-transform: rotate3d(0, 1, 0, -270deg);
    -moz-transform: rotate3d(0, 1, 0, -270deg);
    -ms-transform: rotate3d(0, 1, 0, -270deg);
    -o-transform: rotate3d(0, 1, 0, -270deg);
    transform: rotate3d(0, 1, 0, -270deg);
    right: 110px;
    z-index: 2;
  }

  /* line 794, ../sass/screen.scss */
  75% {
    -webkit-transform: rotate3d(0, 1, 0, -360deg);
    -moz-transform: rotate3d(0, 1, 0, -360deg);
    -ms-transform: rotate3d(0, 1, 0, -360deg);
    -o-transform: rotate3d(0, 1, 0, -360deg);
    transform: rotate3d(0, 1, 0, -360deg);
    right: 170px;
  }

  /* line 799, ../sass/screen.scss */
  99% {
    z-index: 2;
  }

  /* line 803, ../sass/screen.scss */
  100% {
    -webkit-transform: rotate3d(0, 1, 0, -450deg);
    -moz-transform: rotate3d(0, 1, 0, -450deg);
    -ms-transform: rotate3d(0, 1, 0, -450deg);
    -o-transform: rotate3d(0, 1, 0, -450deg);
    transform: rotate3d(0, 1, 0, -450deg);
    right: 230px;
    z-index: 0;
  }
}

@-moz-keyframes fly3 {
  /* line 773, ../sass/screen.scss */
  0% {
    -webkit-transform: rotate3d(0, 1, 0, -90deg);
    -moz-transform: rotate3d(0, 1, 0, -90deg);
    -ms-transform: rotate3d(0, 1, 0, -90deg);
    -o-transform: rotate3d(0, 1, 0, -90deg);
    transform: rotate3d(0, 1, 0, -90deg);
    right: 230px;
    z-index: 0;
  }

  /* line 779, ../sass/screen.scss */
  25% {
    -webkit-transform: rotate3d(0, 1, 0, -180deg);
    -moz-transform: rotate3d(0, 1, 0, -180deg);
    -ms-transform: rotate3d(0, 1, 0, -180deg);
    -o-transform: rotate3d(0, 1, 0, -180deg);
    transform: rotate3d(0, 1, 0, -180deg);
    right: 170px;
  }

  /* line 784, ../sass/screen.scss */
  49% {
    z-index: 0;
  }

  /* line 788, ../sass/screen.scss */
  50% {
    -webkit-transform: rotate3d(0, 1, 0, -270deg);
    -moz-transform: rotate3d(0, 1, 0, -270deg);
    -ms-transform: rotate3d(0, 1, 0, -270deg);
    -o-transform: rotate3d(0, 1, 0, -270deg);
    transform: rotate3d(0, 1, 0, -270deg);
    right: 110px;
    z-index: 2;
  }

  /* line 794, ../sass/screen.scss */
  75% {
    -webkit-transform: rotate3d(0, 1, 0, -360deg);
    -moz-transform: rotate3d(0, 1, 0, -360deg);
    -ms-transform: rotate3d(0, 1, 0, -360deg);
    -o-transform: rotate3d(0, 1, 0, -360deg);
    transform: rotate3d(0, 1, 0, -360deg);
    right: 170px;
  }

  /* line 799, ../sass/screen.scss */
  99% {
    z-index: 2;
  }

  /* line 803, ../sass/screen.scss */
  100% {
    -webkit-transform: rotate3d(0, 1, 0, -450deg);
    -moz-transform: rotate3d(0, 1, 0, -450deg);
    -ms-transform: rotate3d(0, 1, 0, -450deg);
    -o-transform: rotate3d(0, 1, 0, -450deg);
    transform: rotate3d(0, 1, 0, -450deg);
    right: 230px;
    z-index: 0;
  }
}

@-webkit-keyframes fly4 {
  /* line 811, ../sass/screen.scss */
  0% {
    -webkit-transform: rotate3d(0, 1, 0, -90deg);
    -moz-transform: rotate3d(0, 1, 0, -90deg);
    -ms-transform: rotate3d(0, 1, 0, -90deg);
    -o-transform: rotate3d(0, 1, 0, -90deg);
    transform: rotate3d(0, 1, 0, -90deg);
    right: 230px;
    z-index: 0;
  }

  /* line 817, ../sass/screen.scss */
  25% {
    -webkit-transform: rotate3d(0, 1, 0, -180deg);
    -moz-transform: rotate3d(0, 1, 0, -180deg);
    -ms-transform: rotate3d(0, 1, 0, -180deg);
    -o-transform: rotate3d(0, 1, 0, -180deg);
    transform: rotate3d(0, 1, 0, -180deg);
    right: 170px;
    z-index: 0;
  }

  /* line 823, ../sass/screen.scss */
  50% {
    -webkit-transform: rotate3d(0, 1, 0, -270deg);
    -moz-transform: rotate3d(0, 1, 0, -270deg);
    -ms-transform: rotate3d(0, 1, 0, -270deg);
    -o-transform: rotate3d(0, 1, 0, -270deg);
    transform: rotate3d(0, 1, 0, -270deg);
    right: 110px;
  }

  /* line 828, ../sass/screen.scss */
  75% {
    -webkit-transform: rotate3d(0, 1, 0, -360deg);
    -moz-transform: rotate3d(0, 1, 0, -360deg);
    -ms-transform: rotate3d(0, 1, 0, -360deg);
    -o-transform: rotate3d(0, 1, 0, -360deg);
    transform: rotate3d(0, 1, 0, -360deg);
    right: 170px;
    z-index: 2;
  }

  /* line 834, ../sass/screen.scss */
  99% {
    z-index: 2;
  }

  /* line 838, ../sass/screen.scss */
  100% {
    -webkit-transform: rotate3d(0, 1, 0, -450deg);
    -moz-transform: rotate3d(0, 1, 0, -450deg);
    -ms-transform: rotate3d(0, 1, 0, -450deg);
    -o-transform: rotate3d(0, 1, 0, -450deg);
    transform: rotate3d(0, 1, 0, -450deg);
    right: 230px;
    z-index: 0;
  }
}

@-moz-keyframes fly4 {
  /* line 811, ../sass/screen.scss */
  0% {
    -webkit-transform: rotate3d(0, 1, 0, -90deg);
    -moz-transform: rotate3d(0, 1, 0, -90deg);
    -ms-transform: rotate3d(0, 1, 0, -90deg);
    -o-transform: rotate3d(0, 1, 0, -90deg);
    transform: rotate3d(0, 1, 0, -90deg);
    right: 230px;
    z-index: 0;
  }

  /* line 817, ../sass/screen.scss */
  25% {
    -webkit-transform: rotate3d(0, 1, 0, -180deg);
    -moz-transform: rotate3d(0, 1, 0, -180deg);
    -ms-transform: rotate3d(0, 1, 0, -180deg);
    -o-transform: rotate3d(0, 1, 0, -180deg);
    transform: rotate3d(0, 1, 0, -180deg);
    right: 170px;
    z-index: 0;
  }

  /* line 823, ../sass/screen.scss */
  50% {
    -webkit-transform: rotate3d(0, 1, 0, -270deg);
    -moz-transform: rotate3d(0, 1, 0, -270deg);
    -ms-transform: rotate3d(0, 1, 0, -270deg);
    -o-transform: rotate3d(0, 1, 0, -270deg);
    transform: rotate3d(0, 1, 0, -270deg);
    right: 110px;
  }

  /* line 828, ../sass/screen.scss */
  75% {
    -webkit-transform: rotate3d(0, 1, 0, -360deg);
    -moz-transform: rotate3d(0, 1, 0, -360deg);
    -ms-transform: rotate3d(0, 1, 0, -360deg);
    -o-transform: rotate3d(0, 1, 0, -360deg);
    transform: rotate3d(0, 1, 0, -360deg);
    right: 170px;
    z-index: 2;
  }

  /* line 834, ../sass/screen.scss */
  99% {
    z-index: 2;
  }

  /* line 838, ../sass/screen.scss */
  100% {
    -webkit-transform: rotate3d(0, 1, 0, -450deg);
    -moz-transform: rotate3d(0, 1, 0, -450deg);
    -ms-transform: rotate3d(0, 1, 0, -450deg);
    -o-transform: rotate3d(0, 1, 0, -450deg);
    transform: rotate3d(0, 1, 0, -450deg);
    right: 230px;
    z-index: 0;
  }
}

@-webkit-keyframes bouncebig {
  /* line 846, ../sass/screen.scss */
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  /* line 847, ../sass/screen.scss */
  50% {
    -webkit-transform: translate3d(0, -20px, 0);
    -moz-transform: translate3d(0, -20px, 0);
    -ms-transform: translate3d(0, -20px, 0);
    -o-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  /* line 848, ../sass/screen.scss */
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-moz-keyframes bouncebig {
  /* line 846, ../sass/screen.scss */
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  /* line 847, ../sass/screen.scss */
  50% {
    -webkit-transform: translate3d(0, -20px, 0);
    -moz-transform: translate3d(0, -20px, 0);
    -ms-transform: translate3d(0, -20px, 0);
    -o-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  /* line 848, ../sass/screen.scss */
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes bouncesmall {
  /* line 852, ../sass/screen.scss */
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  /* line 853, ../sass/screen.scss */
  50% {
    -webkit-transform: translate3d(0, -10px, 0);
    -moz-transform: translate3d(0, -10px, 0);
    -ms-transform: translate3d(0, -10px, 0);
    -o-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  /* line 854, ../sass/screen.scss */
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-moz-keyframes bouncesmall {
  /* line 852, ../sass/screen.scss */
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  /* line 853, ../sass/screen.scss */
  50% {
    -webkit-transform: translate3d(0, -10px, 0);
    -moz-transform: translate3d(0, -10px, 0);
    -ms-transform: translate3d(0, -10px, 0);
    -o-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  /* line 854, ../sass/screen.scss */
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

/* @end */
/* @group text */
/* line 861, ../sass/screen.scss */
.on {
  -webkit-animation: in 1s 0s  linear forwards;
  -moz-animation: in 1s 0s  linear forwards;
}

/* line 865, ../sass/screen.scss */
.off {
  -webkit-animation: out 0.5s 0s  linear forwards;
  -moz-animation: out 0.5s 0s  linear forwards;
}

/* @end */
/* @end */
/* @end */
/* @group theft-8 */
/* line 902, ../sass/screen.scss */
.basket {
  height: 600px;
  width: 300px;
  background-color: brown;
  display: block;
  font-size: 30px;
  right: 150px;
  z-index: 0;
}

/* line 911, ../sass/screen.scss */
.sack {
  width: 300px;
  display: block;
  height: 350px;
  background-color: black;
  right: 150px;
  top: 250px;
  z-index: 2;
}

/* line 920, ../sass/screen.scss */
.item1 {
  height: 200px;
  width: 200px;
  background-color: gold;
  font-size: 20px;
  display: block;
  border-radius: 100px;
  top: 290px;
  left: -100px;
  z-index: 1;
}

/* line 931, ../sass/screen.scss */
.item2 {
  height: 200px;
  width: 200px;
  background-color: green;
  font-size: 20px;
  display: block;
  border-radius: 100px;
  top: 250px;
  right: -200px;
}

/* line 941, ../sass/screen.scss */
.item3 {
  height: 200px;
  width: 200px;
  background-color: red;
  font-size: 20px;
  display: block;
  border-radius: 100px;
  top: 250px;
  left: -200px;
}

/* @end */
