@import "compass/layout/stretching";
@import "compass/reset";
@import "compass/css3/transform";
@import "compass/css3/transition";
@import "animation";
@import "compass/css3/background-size";
@import "compass/css3/images";
@import "base";

/* @group fonts */

	@font-face {
	    font-family: 'Mardian Demo';
	    src: url('../assets/fonts/mardiandemo-webfont.eot');
	    src: url('../assets/fonts/mardiandemo-webfont.eot?#iefix') format('embedded-opentype'),
	         url('../assets/fonts/mardiandemo-webfont.woff') format('woff'),
	         url('../assets/fonts/mardiandemo-webfont.ttf') format('truetype'),
	         url('../assets/fonts/mardiandemo-webfont.svg#MardianDemoRegular') format('svg');
	    font-weight: normal;
	    font-style: normal;
	}

	@font-face {
	    font-family: 'Esteban';
	    src: url('../assets/fonts/esteban-regular-webfont.eot');
	    src: url('../assets/fonts/esteban-regular-webfont.eot?#iefix') format('embedded-opentype'),
	         url('../assets/fonts/esteban-regular-webfont.woff') format('woff'),
	         url('../assets/fonts/esteban-regular-webfont.ttf') format('truetype'),
	         url('../assets/fonts/esteban-regular-webfont.svg#EstebanRegular') format('svg');
	    font-weight: normal;
	    font-style: normal;
	}

/* @end */

/* @group general */

	.container {
		@include stretch;
		background: #000;
	}

	.frame {
		@include full-frame;
		left: 50%;
		margin-left: -512px;
		margin-top: -384px; 
		overflow: hidden;
		top: 50%;
	}

	.scene {
		//temp
		background-color: gray;
		color: blue;
		font-size: 650px;
		text-align: center;
		//@end

		@include transition(opacity 1s linear);
		@include full-frame;

		div {
			position: absolute;
			@include background-size(100% 100%);
		}
	}

	p {
		color: #fff;
		font-family: 'Esteban', serif;
		font-size: 36px;
		line-height: 40px;
		text-align: left;
		text-shadow: 0px 1px 2px #000;
		
		&:first-letter {
			float: left;
			font-family: Mardian Demo, serif;
			font-size: 200px;
			font-style: normal;
			font-weight: normal;
			line-height: 100px;
			margin-right: 22px;
			padding-left: 5px;
		};
	}

/* @end */

/* @group general elements */

	.btn-previous {
		//temp
		background-color: green;
		border: solid 1px #000;
		display: block;
		font-size: 30px;
		height: 40px;
		left: 400px;
		position: absolute;
		text-align: center;
		width: 60px;

		//temp @end
		margin-top: 10px;
		z-index: 5;
	}

	.btn-next {
		// temp
		background-color: green;
		border: solid 1px #000;
		display: block;
		font-size: 30px;
		height: 40px;
		left: 460px;
		position: absolute;
		text-align: center;
		width: 60px;
		//@end
		margin-top: 10px;
		z-index: 5;
	}

/* @end */

/* @group general animations/interactions */

	/* @group page-turning */

		.hidden {
			opacity: 0;
			visibility: hidden;
		}

		.current {
			opacity: 1;
			visibility: visible;
		}

		.previous {
			opacity: 1;
			visibility: visible;
		}

	/* @end  */

	/* @group element showing/hiding */

		@include keyframes(in) {
			100% {
				opacity: 1;
			}
		}

		@include keyframes(out) {
			100% {
				opacity: 0;
			}
		}

	/* @end */

/* @end */

/* @group start-1 page */

	.start-1 {
		@include bluesky;
	}

	.title {
		@include dimensions(577.6px, 533px);
		@include responsive-bg(1start/title, top left);
		left: 50%;
		margin-left: -280.5px;		
	}

	.mountain {
		@include dimensions(100%, 225px);
		@include responsive-bg(1start/mountain, bottom left);
		bottom: -2px;
	}

	.sky {
		@include single-transition(all, 15s, linear, 0s);
		@include dimensions(100%, 550px);
		@include responsive-bg(1start/sky, bottom left);
		bottom: -100px;
	}

	.cloud-1 {
		@include dimensions(230px, 178px);
		@include responsive-bg(1start/cloud1);
		bottom: 225px;
		right: 75px;
	}

	.cloud-2 {
		@include single-transition(all, 50s, linear, 2s);
		@include dimensions(295.2px, 120px);
		@include responsive-bg(1start/cloud2, bottom left);
		top: 170px;
		left: 120px;
	}

	.titlej {
		@include dimensions(273.45px,268.95px);
		@include responsive-bg(1start/frontj);
		top: 148px;
		left: 240px;
	}

	.right-cloud {
		@include dimensions(890px, 460px);
		@include responsive-bg(1start/right-cloud, top right);
		right: 0;
	}

	.left-cloud {
		@include dimensions(950px, 640px);
		@include responsive-bg(1start/left-cloud);
		top: 0px;
	}



	/* @group animations */

		.current > .right-cloud {
			@include animation(right-cloud, 5s, 1s, $function:ease-in, $fill-mode:forwards);
		}

		@include keyframes(right-cloud) {
			0% { @include translate3d(0, 0, 0); }
			100% { @include translate3d(200%, 0, 0); }
		}

		.current > .left-cloud {
			@include animation(left-cloud, 5s, 1s, $function:ease-in, $fill-mode:forwards);
		}

		@include keyframes(left-cloud) {
			0% { @include translate3d(0, 0, 0); }
			100% { @include translate3d(-200%, 0, 0); }
		}

		.current > .cloud-1 {
			@include animation(cloud-1, 50s, 1s, $function:linear, $fill-mode:forwards);
		}

		@include keyframes(cloud-1) {
			0% { @include translate3d(0, 0, 0); }
			100% { @include translate3d(-400%, 0, 0); }
		}

		.current > .cloud-2 {
			@include animation(cloud-2, 50s, 1s, $function:linear, $fill-mode:forwards);
		}

		@include keyframes(cloud-2) {
			0% { @include translate3d(0, 0, 0); }
			100% { @include translate3d(300%, 0, 0); }
		}

	/* @end */

/* @end */

/* @group exposition-2 */

	.exposition-2 {
		@include bluesky(75%, 77%);

		.a {
			@include dimensions(400px, 400px);
			left: 40px;
			position: absolute;
			top: 100px;
		}

		.b {
			float: right;
			opacity: 0;
		}

		.c {
			@extend .a;
			opacity: 0;

			&:first-letter {
				line-height: 120px;
				margin-bottom: 20px;
				margin-right: 40px;
			};
		}
	}

	.house-right {
		@include responsive-bg(2exposition/house_right, bottom left);
		@include transform-origin(50%, 95%);
		bottom: 111px;
		height: 419px;
		right: 85px;
		width: 160px;
	 }

	.house-left {
		@include responsive-bg(2exposition/house_left, bottom left);
		@include transform-origin(50%, 100%);
		bottom: 173px;
		height: 458.08px;
		right: 195px;
		width: 415.53px;
	 }

	.cloud {
		@include responsive-bg(2exposition/cloud, bottom left);
		height: 299.46px;
		right: -100px;
		top: 20px;
		width: 395.87px;
	 }

	.sign {
		@include background-size(100% 100%);
		@include responsive-bg(2exposition/sign, bottom left);
		@include transform(rotate(240deg));
		@include transform-origin(90%, 93%);
		bottom: 177px;
		height: 141px;
		left: 406px;
		width: 173px;
	}

	.grass-top {
		@include background-size(100% 100%);
		@include responsive-bg(2exposition/grass_top, bottom left);
		bottom: 0;
		height: 485px;
		width: 100%;
	}

	.grass-bottom {
		@include background-size(100% 100%);
		@include responsive-bg(2exposition/grass_bottom, bottom left);
		bottom: 0;
		height: 188px;
		width: 100%;
	}

	/* @group animations */

		/* @group timing variables */

			$first_text_go: 5s;
			$house_fall_go: $first_text_go + 2;
			$house_fall_speed: 2s;
			$second_text_go: $house_fall_go + 1.5;
			$sign_go: $house_fall_go + 2;

		/* @end */

		.current .b {
			@include animation(in, 1s, 5s, $function:linear, $fill-mode:forwards);
		}

		.current > .a {
			@include animation(out, 1s, $second_text_go, $function:linear, $fill-mode:forwards);
		}

		.current > .c {
			@include animation(in, 1s, $second_text_go, $function:linear, $fill-mode:forwards);
		}

		.current > .house-right {
			@include animation(fall_right, $house_fall_speed, $house_fall_go, $function:ease-in, $fill-mode:forwards);
		}

		@include keyframes(fall_right) {
			0% {
				opacity: 1;
				@include rotate3d(0, 0, 0, 0deg);
			}

			60% {
				@include rotate3d(100, -25, 0, 150deg);
				opacity: 1;
			}

			100% {
				@include rotate3d(100, -25, 0, 150deg);
				opacity: 0;
			}
		}

		.current > .house-left {
			@include animation(fall_left, $house_fall_speed, $house_fall_go, $function:ease-in, $fill-mode:forwards);
		}

		@include keyframes(fall_left) {
			0% {
				opacity: 1;
				@include rotate3d(0, 0, 0, 0deg);
			}

			60% {
				@include rotate3d(100, 25, 0, 150deg);
				opacity: 1;
			}

			100% {
				@include rotate3d(100, 25, 0, 150deg);
				opacity: 0;
			}
		}

		.current > .sign {
			@include animation(sign, .3s, $sign_go, $function:ease-in, $fill-mode:forwards);
		}

		@include keyframes(sign) {
			100% {
				@include rotate(360deg);
			}
		}

		.current > .cloud {
			@include animation(cloud, 60s, 0.1s, $function:linear, $fill-mode:forwards);
		}

		@include keyframes(cloud) {
			100% {
				@include translate3d(-300%, 0, 0);
			}
		}

	/* @end */

/* @end */

/* @group beanstalk-4 */

	.beanstalk-4 {
		overflow-y: scroll;
	}

	.background {
		@include responsive-bg(4beanstalk/background, bottom left);
		@include dimensions(100%, 3229px);
	}
	
	::-webkit-scrollbar {
	    display: none;
	}

	.beanstalk {
		@include responsive-bg(4beanstalk/beanstalk, bottom left);
		@include dimensions(1003px, 2463px);
		bottom: 0;
	}

	.cloudsdivide {
		@include responsive-bg(4beanstalk/cloudsdivide, bottom left);
		@include dimensions(100%, 1048px);
		top: 350px;
	}

	.castleclouds {
		@include responsive-bg(4beanstalk/castleclouds, bottom left);
		@include dimensions(184px, 108px);
		top: 58px;
		right: 90px;
	}

	.castle {
		@include responsive-bg(4beanstalk/castle, bottom left);
		@include dimensions(335px, 558px);
		top: 58px;
		right: -40px;
		z-index: 1;
	}

	.upperclouds {
		@include responsive-bg(4beanstalk/cloudsupper, bottom left);
		@include dimensions(523px, 517px);
		top: 91px;
		right: -108px;
		z-index: 2;
	}

	.right {
		right: -200%;
	}

	.left {
		left: -200%;
	}

	.cloudback {
		@include responsive-bg(4beanstalk/cloudsback, bottom left);
		@include dimensions(1794px, 560px);

		&.top {
			bottom: 1500px;
		}

		&.top2 {
			bottom: 1500px;
		}

		&.middle {
			bottom: 1000px;
		}

		&.bottom {
			bottom: 800px;
		}
	}

	.cloudfront {
		@include responsive-bg(4beanstalk/cloudfront, bottom left);
		@include dimensions(1689px, 987px);

		&.top {
			bottom: 1500px;
		}

		&.top2 {
			bottom: 1500px;
		}

		&.middle {
			bottom: 1000px;
		}

		&.bottom {
			bottom: 800px;
		}
	}

	.bird {
		@include responsive-bg(4beanstalk/birds_front_1, bottom left);
		@include dimensions(26px, 21px);
		top: 120px;
		right: 100px;
		z-index: 2;
		outline: 1px solid #000;
	}

	/* @group animations */

		/* @group lower clouds */

			.current > .background > .cloudfront.top {
				@include animation(left, 7s, 0.1s, $iterations:infinite, $function:linear, $fill-mode:forwards);
			}

			.current > .background > .cloudfront.top2 {
				@include animation(right, 8s, 1s, $iterations:infinite, $function:linear, $fill-mode:forwards);
			}

			.current > .background > .cloudback.top2 {
				@include animation(left, 7s, .1s, $iterations:infinite, $function:linear, $fill-mode:forwards);
			}

			.current > .background > .cloudfront.top2 {
				@include animation(right, 10s, 1s, $iterations:infinite, $function:linear, $fill-mode:forwards);
			}

			.current > .background > .cloudfront.middle {
				@include animation(right, 8s, .1s, $iterations:infinite, $function:linear, $fill-mode:forwards);
			}

			.current > .background > .cloudfront.bottom {
				@include animation(left, 12s, .1s, $iterations:infinite, $function:linear, $fill-mode:forwards);
			}

			.current > .background > .cloudback.top {
				@include animation(right, 7s, 0.1s, $iterations:infinite, $function:linear, $fill-mode:forwards);
			}

			.current > .background > .cloudback.middle {
				@include animation(left, 8s, .1s, $iterations:infinite, $function:linear, $fill-mode:forwards);
			}

			.current > .background > .cloudback.bottom {
				@include animation(right, 11s, .1s, $iterations:infinite, $function:linear, $fill-mode:forwards);
			}

			@include keyframes(left) {
				0% { @include translate3d(0, 0, 0); }
				100% { @include translate3d(-200%, 0, 0); }
			}

			@include keyframes(right) {
				0% { @include translate3d(0, 0, 0); }
				100% { @include translate3d(200%, 0, 0); }
			}

		/* @end */

		/* @group top */

			.current > .background > .cloudsdivide {
				@include animation(bouncebig, 3s, .1s, $iterations:infinite, $function:ease-in-out, $fill-mode:forwards);
			}

			.current > .background > .castleclouds {
				@include animation(bouncesmall, 3s, .1s, $iterations:infinite, $function:ease-in-out, $fill-mode:forwards);
			}

			.current > .background > .bird {
				@include animation(fly, 5s, .1s, $iterations: infinite, $function:linear, $fill-mode:forwards);
			}

			@include keyframes(fly) {
				0% {
					@include rotate3d(0, 1, 0, 90deg);
				}

				25% {
					right: 150px;	
				}

				50% {
					right: 200px;	
					z-index: 0;
				}

				75% {
					right: 150px;	
				}

				100% {
					@include rotate3d(0, 1, 0, 360deg);
					right: 150px;	
					z-index: 2;
				}

			}

			@include keyframes(bouncebig) {
				0% { @include translate3d(0, 0, 0); }
				50% { @include translate3d(0, -20px, 0); }
				100% { @include translate3d(0, 0, 0); }
			}

			@include keyframes(bouncesmall) {
				0% { @include translate3d(0, 0, 0); }
				50% { @include translate3d(0, -10px, 0); }
				100% { @include translate3d(0, 0, 0); }
			}
			
			

		/* @end */

	/* @end */

























/* @end */

/* @group theft-8 */

	.basket {
		height: 600px;
		width: 300px;
		background-color: brown;
		display: block;
		font-size: 30px;
		right: 150px;
		z-index: 0; }

	.sack {
		width: 300px;
		display: block;
		height: 350px;
		background-color: black;
		right: 150px;
		top: 250px;
		z-index: 2; }

	.item1 {
		height: 200px;
		width: 200px;
		background-color: gold;
		font-size: 20px;
		display: block;
		border-radius: 100px;
		top: 290px;
		left: -100px;
		z-index: 1; }

	.item2 {
		height: 200px;
		width: 200px;
		background-color: green;
		font-size: 20px;
		display: block;
		border-radius: 100px;
		top: 250px;
		right: -200px; }

	.item3 {
		height: 200px;
		width: 200px;
		background-color: red;
		font-size: 20px;
		display: block;
		border-radius: 100px;
		top: 250px;
		left: -200px; }

/* @end */
